﻿@model Customer_Ticket_Generator.Models.Ticket

@{
    ViewBag.Title = "Create";
}
<style>
    .localText{
        font-family: Arial;
        font-size: 1.3em;
        padding-top: 10px;
        font-weight: 700;

    }
    .localBoxes{
        font-size: 1.8em;
        margin-bottom: 20px;
        /*padding: 14px;*/
    }

    /*.localTextArea{
        font-size: 1.8em;
        margin-bottom: 20px;
        width:400px;
        height:200px;  
        text-align: left;
          
    }*/
    
    

    textarea
{
    font-family: inherit;
    padding-top: 2px!important;
    width: 650px;
    height: 65px;
    font-size: medium !important;
    margin-bottom: 20px;
    text-align: left;

    /*font-weight: 700;*/
}
     .column2 {
        float: left !important;
        width: 50% !important;
        /*padding: 10px;*/
        padding-right: 20px;
    }

    .row2:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .row {
  display: flex;
  float: left;
}
    .label { display: inline-block; /*width: 150px;*/ text-align: left; 
                 font-family: Arial;
    font-size: 1.3em;
    /*padding-top: 10px;*/
    font-weight: 700;
    }
</style>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="site-inner">
        <div class="content-sidebar-wrap">
            <main class="content" id="content">
                <article class="post-8425 page type-page status-publish entry" itemscope="" itemtype="https://schema.org/CreativeWork">
                    <header class="entry-header">
                        <h1 class="entry-title" itemprop="headline">Permit Arlington Technical Support Request</h1>
                    </header><div class="entry-content" itemprop="text">
                        <div >
                            
                            <div>
                                <div class="row">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        <div class="column2">

                                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 localText", @style = "cursor:default" })<span style="color:red;"><b>*</b></span>
                                            <div>
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control localBoxes" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="column2">
                                            @Html.LabelFor(model => model.LastName, htmlAttributes: new
                                            {
                                                @class = "control-label col-md-2 localText",
                                           @style = "cursor:default"@*, @style = "float:left"*@})<span style="color:red;"><b>*</b></span>
                                            <div>
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control localBoxes" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2 localText", @style = "float:None;cursor:default" })<span style="color:red;"><b>*</b></span>

                                    <div class="col-md-10">

                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control localBoxes" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PermitNumber, htmlAttributes: new { @class = "control-label col-md-2 localText", @style = "cursor:default" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.PermitNumber, new { htmlAttributes = new { @class = "form-control localBoxes" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 localText", @style = "cursor:default" })<span style="color:red;"><b>*</b></span>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control localBoxes" } })

                                    </div>
                                </div>

                                <div class="form-group">
                                    @*padding-top: 2px*@
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 localText", @style = "cursor:default" })<span style="color:red;"><b>*</b></span>
                                    <font>
                                        <div class="col-md-10">

                                            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control localText" } })

                                        </div>
                                    </font>
                                </div>

                                <div class="g-recaptcha" data-sitekey="@ViewBag.PublicKey"></div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Submit" class="btn btn-default" />
                                    </div>
                                </div>
                                <br />
                                <div style="color:red;">

                                    <p>   @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })</p>

                                    <p>
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </p>
                                    <p>
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                    </p>
                                    <p>
                                        @Html.ValidationMessageFor(model => model.PermitNumber, "", new { @class = "text-danger" })
                                    </p>
                                    <p>
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </p>
                                    <p>  @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })</p>

                                </div>

                                <br />
                                <p>The Permit Arlington technical support team will reply as soon as possible to your inquiry, within 2 days, often sooner. Return to <a href="https://www.arlingtonva.us/Government/Programs/Building/Permits/Permit-Arlington">Permit Arlington homepage</a>.</p>
                            </div>
                        </div>
                        <script type="text/javascript"> jQuery(document).bind('gform_post_render', function(event, formId, currentPage){if(formId == 6) {jQuery('#input_6_2').mask('(999) 999-9999').bind('keypress', function(e){if(e.which == 13){jQuery(this).blur();} } );} } );jQuery(document).bind('gform_post_conditional_logic', function(event, formId, fields, isInit){} );</script>
                        <script type="text/javascript"> jQuery(document).ready(function(){jQuery(document).trigger('gform_post_render', [6, 1]) } ); </script>
                        <p>&nbsp;</p>
                    </div>
                </article>
            </main><aside class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Primary Sidebar" itemscope="" itemtype="https://schema.org/WPSideBar"></aside>
        </div>
    </div>




    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
