﻿
@{
    ViewBag.Title = "Error";
}

<div class="site-inner">
    <div class="content-sidebar-wrap">
        <main class="content" id="content">
            <article class="post-8425 page type-page status-publish entry" itemscope="" itemtype="https://schema.org/CreativeWork">

                <h1 class="entry-title" itemprop="headline">Error</h1>

            </article>
        </main><aside class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Primary Sidebar" itemscope="" itemtype="https://schema.org/WPSideBar"></aside>
    </div>
</div>