﻿
@{
    ViewBag.Title = "Success";
}





<div class="site-inner">
    <div class="content-sidebar-wrap">
        <main class="content" id="content">
            <article class="post-8425 page type-page status-publish entry" itemscope="" itemtype="https://schema.org/CreativeWork">
                
                <font size="+1">
                    <p>
                        Thank you, your request has been submitted. Your ticket number is <b>@ViewBag.number</b>. The Permit Arlington technical support team will reply as soon as possible to your inquiry, within 2 days, often sooner.  Our technical support analysts are available 8:30a.m. – 4:30p.m. Monday-Friday. Return to <a href="https://www.arlingtonva.us/Government/Programs/Building/Permits/Permit-Arlington">Permit Arlington homepage</a>.
                    </p>
                </font>
</article>
        </main><aside class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Primary Sidebar" itemscope="" itemtype="https://schema.org/WPSideBar"></aside>
    </div>
</div>

