﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <header class="site-header" itemscope="" itemtype="https://schema.org/WPHeader">
        <div class="wrap">


            <div class="off-canvas-wrap">
                <div class="inner-wrap">
                    <div id="translationList">

                        <div class="inner-translation-list">
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=am&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Amharic" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/am.png" height="24" width="24" alt="Amharic"> <span>Amharic</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=ar&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Arabic" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/ar.png" height="24" width="24" alt="Arabic"> <span>Arabic</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=bn&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Bengali" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/bn.png" height="24" width="24" alt="Bengali"> <span>Bengali</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=zh-CN&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Chinese (Simplified)" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/zh-CN.png" height="24" width="24" alt="Chinese (Simplified)"> <span>Chinese (Simplified)</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=zh-TW&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Chinese (Traditional)" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/zh-TW.png" height="24" width="24" alt="Chinese (Traditional)"> <span>Chinese (Traditional)</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=fr&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="French" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/fr.png" height="24" width="24" alt="French"> <span>French</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=de&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="German" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/de.png" height="24" width="24" alt="German"> <span>German</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=ja&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Japanese" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/ja.png" height="24" width="24" alt="Japanese"> <span>Japanese</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=ko&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Korean" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/ko.png" height="24" width="24" alt="Korean"> <span>Korean</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=mn&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Mongolian" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/mn.png" height="24" width="24" alt="Mongolian"> <span>Mongolian</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=pt&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Portuguese" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/pt.png" height="24" width="24" alt="Portuguese"> <span>Portuguese</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=ru&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Russian" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/ru.png" height="24" width="24" alt="Russian"> <span>Russian</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=es&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Spanish" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/es.png" height="24" width="24" alt="Spanish"> <span>Spanish</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=ur&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Urdu" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/ur.png" height="24" width="24" alt="Urdu"> <span>Urdu</span>
                                </a>
                            </div>
                            <div class="glink-wrap">
                                <a href="https://translate.google.com/translate?sl=auto&amp;tl=vi&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" title="Vietnamese" class="glink nturl notranslate">
                                    <img src="http://building.arlingtonva.us/wp-content/themes/genesis-arlington-child/img/flags/24/vi.png" height="24" width="24" alt="Vietnamese"> <span>Vietnamese</span>
                                </a>
                            </div>
                        </div>
                        <div class="close-btn">
                            <i class="fa fa-times"></i>
                        </div>
                        <div class="more-options">
                            <a href="https://translate.google.com/translate?sl=auto&amp;tl=es&amp;u=http%3A%2F%2Fbuilding.arlingtonva.us%2Fcustomer-ticket-generation%2F" target="_blank" class="mobile-hide">More languages</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-links" class="clearfix">
                <div class="holder">
                    <a href="http://www.arlingtonva.us/" class="logo"><i class="icon-arlington-logo" aria-hidden="true"></i> arlingtonva.us</a>
                    <div class="holder-inner">
                        <a href="https://www.arlingtonva.us" onmousedown="_gas.push(['_trackEvent', 'Header', 'Click', 'County Home']);" title="Arlington County Homepage">County Home</a>
                        &nbsp;<b class="bull" aria-hidden="true">•</b>
                        <a href="https://careers.arlingtonva.us" onmousedown="_gas.push(['_trackEvent', 'Header', 'Click', 'Jobs']);" title="Careers with Arlington County">Jobs</a>
                        &nbsp;<b class="bull" aria-hidden="true">•</b>
                        <a href="https://capp.arlingtonva.us" onmousedown="_gas.push(['_trackEvent', 'Header', 'Click', 'Payments']);" title="Payment Portal">Payments</a>
                        &nbsp;<b class="bull" aria-hidden="true">•</b>
                        <a href="https://services.arlingtonva.us" onmousedown="_gas.push(['_trackEvent', 'Header', 'Click', 'Services A-Z']);" title="Services A-Z">Services A-Z</a>
                        &nbsp;&nbsp;
                        <a href="javascript:;" title="Translate" class="translate-option-btn">
                            <i class="fal fa-globe"></i> <span>Translate</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="holder">
                <p class="site-title" itemprop="headline"><a href="http://building.arlingtonva.us/">Building</a></p>
                <nav id="navigation" role="navigation" class="clearfix">
                    <ul class="mobile menu-items-2">
                        <li class="menu one-half"><a href="#"><i class="icon-menu" aria-hidden="true">&nbsp;</i>Menu</a></li>
                        <li class="search-menu one-half"><a href="#"><i class="icon-search" aria-hidden="true">&nbsp;</i>Search</a></li>
                    </ul>
                    <ul class="main-menu menu-items-7 menu-has-home-7">
                        <li id="menu-item-52" class="top-level home first"><a href="http://building.arlingtonva.us/" itemprop="url"><span class="icon-home" aria-hidden="true"></span><span class="hidden">Home</span></a></li>
                        <li id="menu-item-662" class="top-level active">
                            <a href="http://building.arlingtonva.us/permits/permits/" itemprop="url">Permits</a>
                            <ul class="sub-menu">
                                <li id="menu-item-450"><a href="http://building.arlingtonva.us/permits/types/" itemprop="url">Permit &amp; Application Types</a></li>
                                <li id="menu-item-451"><a href="http://building.arlingtonva.us/permits/apply-online/" itemprop="url">Apply Online</a></li>
                                <li id="menu-item-452"><a href="http://building.arlingtonva.us/permits/apply-paper/" itemprop="url">Apply on Paper</a></li>
                                <li id="menu-item-453"><a href="http://building.arlingtonva.us/permits/fees/" itemprop="url">Fee Schedules</a></li>
                                <li id="menu-item-454"><a href="http://building.arlingtonva.us/permits/check-status/" itemprop="url">Check Permit Status</a></li>
                                <li id="menu-item-455"><a href="http://building.arlingtonva.us/permits/permit-arlington/" itemprop="url">Permit Arlington</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-593" class="top-level">
                            <a href="http://building.arlingtonva.us/codes-ordinances/" itemprop="url">Codes &amp; Ordinances</a>
                            <ul class="sub-menu">
                                <li id="menu-item-406"><a href="http://building.arlingtonva.us/codes-ordinances/zoning/" itemprop="url">Zoning Ord.</a></li>
                                <li id="menu-item-407"><a href="http://building.arlingtonva.us/codes-ordinances/building/" itemprop="url">Building Code</a></li>
                                <li id="menu-item-1202"><a href="https://countyboard.arlingtonva.us/county-code/" itemprop="url">County Code</a></li>
                                <li id="menu-item-409"><a href="http://building.arlingtonva.us/codes-ordinances/noise/" itemprop="url">Noise Ord.</a></li>
                                <li id="menu-item-410"><a href="http://building.arlingtonva.us/codes-ordinances/stormwater-management/" itemprop="url">Stormwater Ord.</a></li>
                                <li id="menu-item-411"><a href="http://building.arlingtonva.us/codes-ordinances/modifications/" itemprop="url">Code Modifications</a></li>
                                <li id="menu-item-607"><a href="http://building.arlingtonva.us/codes-ordinances/consultation/" itemprop="url">Code Consultations</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1175" class="top-level">
                            <a href="http://building.arlingtonva.us/review-processes/" itemprop="url">Review Processes</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1115"><a href="http://building.arlingtonva.us/review-processes/commercial/" itemprop="url">Commercial Plan Review</a></li>
                                <li id="menu-item-1116"><a href="http://building.arlingtonva.us/review-processes/civil-engineering-plan/" itemprop="url">Civil Engineering Plan Review</a></li>
                                <li id="menu-item-1117"><a href="http://building.arlingtonva.us/review-processes/residential/" itemprop="url">Residential Plan Review</a></li>
                                <li id="menu-item-1118"><a href="http://building.arlingtonva.us/review-processes/site-plan/" itemprop="url">Site Plan Review</a></li>
                                <li id="menu-item-1119"><a href="http://building.arlingtonva.us/review-processes/form-based-code/" itemprop="url">Form Based Code Review</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-664" class="top-level">
                            <a href="http://building.arlingtonva.us/inspections/" itemprop="url">Inspections</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1120"><a href="http://building.arlingtonva.us/inspections/building-trade/" itemprop="url">Building &amp; Trade Inspections</a></li>
                                <li id="menu-item-1121"><a href="http://building.arlingtonva.us/enforcement-appeals/zoning/" itemprop="url">Zoning Inspections</a></li>
                                <li id="menu-item-1123"><a href="http://building.arlingtonva.us/inspections/special-pre-construction/" itemprop="url">Special Inspections</a></li>
                                <li id="menu-item-9136"><a href="http://building.arlingtonva.us/inspections/site/" itemprop="url">Site Inspections</a></li>
                                <li id="menu-item-9139"><a href="https://health.arlingtonva.us/environmental-health/" itemprop="url">Environmental Health Inspections</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1176" class="top-level">
                            <a href="http://building.arlingtonva.us/enforcement-appeals/" itemprop="url">Enforcement &amp; Appeals</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1322"><a href="http://building.arlingtonva.us/codes-ordinances/building/appeals/" itemprop="url">Building Code &amp; Property Maintenance Appeals</a></li>
                                <li id="menu-item-415"><a href="http://building.arlingtonva.us/enforcement-appeals/code/" itemprop="url">Code Enforcement</a></li>
                                <li id="menu-item-416"><a href="http://building.arlingtonva.us/enforcement-appeals/zoning/" itemprop="url">Zoning Enforcement</a></li>
                                <li id="menu-item-417"><a href="https://commissions.arlingtonva.us/bza/" itemprop="url">Board of Zoning Appeals (BZA)</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-665" class="top-level">
                            <a href="http://building.arlingtonva.us/resources/" itemprop="url">Resources</a>
                            <ul class="sub-menu">
                                <li id="menu-item-458"><a href="http://building.arlingtonva.us/resources/about/" itemprop="url">About our Offices</a></li>
                                <li id="menu-item-456"><a href="https://building.arlingtonva.us/resources/topics-a-z/" itemprop="url">Topics A-Z</a></li>
                                <li id="menu-item-459"><a href="http://building.arlingtonva.us/resources/faqs/" itemprop="url">Frequently Asked Questions</a></li>
                                <li id="menu-item-457"><a href="http://building.arlingtonva.us/permits/fees/" itemprop="url">Fee Schedules</a></li>
                                <li id="menu-item-9138"><a href="http://building.arlingtonva.us/resources/news/" itemprop="url">Announcements</a></li>
                                <li id="menu-item-1320"><a href="http://building.arlingtonva.us/resources/contact-us/" itemprop="url">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>	<form role="search" method="get" class="search" action="http://building.arlingtonva.us/">
                        <label class="hidden" for="s">Search our websites</label>
                        <input type="search" value="" placeholder="Search our websites" name="s" id="s" required="">
                        <input type="hidden" value="" name="lang" id="lang">
                        <input type="image" alt="Search our websites" src="https://d1rn8z435cu2eh.cloudfront.net/img/search-button-icon-white.svg" class="submit search-button-icon">
                    </form>
                </nav>
            </div>
            <!--PAGEWATCH-->
        </div>
    </header>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <@*title>@ViewBag.Title - My ASP.NET Application</title>*@
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/acg.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer class="site-footer" itemscope="" itemtype="https://schema.org/WPFooter">
            <div class="wrap">
                <!--/PAGEWATCH-->
                <div class="holder slideout-trigger">
                    <img alt="Arlington County logo" src="https://d1rn8z435cu2eh.cloudfront.net/img/bottom-arlington-logo-white.svg" class="logo" width="140" height="70">
                    <ul class="social-media-icons"><li><a href="https://twitter.com/ArlingtonVA" title="Twitter" class="icon-twitter"></a></li><li><a href="https://www.facebook.com/ArlingtonVA" title="Facebook" class="icon-facebook"></a></li><li><a href="https://www.flickr.com/photos/arlingtonva/" title="Flickr" class="icon-flickr"></a></li><li><a href="https://www.youtube.com/user/arlingtoncounty" title="YouTube" class="icon-youtube"></a></li><li><a href="http://building.arlingtonva.us/feed/" title="RSS" class="icon-rss"></a></li></ul>
                    <ul class="other-links">
                        <li class="first">
                            <a href="https://www.arlingtonva.us" title="Arlington County homepage">County Homepage</a>
                        </li>
                        <li>
                            <a href="https://www.arlingtonva.us/terms-conditions/" title="Terms and Conditions">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="https://www.arlingtonva.us/global-sitemap/" title="Global Sitemap">Global Sitemap</a>
                        </li>
                        <li>
                            <a href="https://www.arlingtonva.us/employees/" title="For Employees">For Employees</a>
                        </li>
                        <li>
                            <a href="https://www.arlingtonva.us/contact-arlington/" title="Contact Arlington County">Contact Arlington</a>
                        </li>
                    </ul>
                    <small>Copyright © 2019 Arlington County Government</small>
                </div>
            </div>

        </footer>
    </div>

    <script src='https://www.google.com/recaptcha/api.js'></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
