﻿/*
	RESET!
	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size:62.5%; /* Makes calculating EMs easier but zooming the viewport is more chaotic. */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong,
b {
font-weight:bold;
}
em,
i {
font-style:italic;
}
label {
cursor:pointer;
}
input {
outline:none;
}

/* https://gist.github.com/unruthless/413930 */
sub, sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sup {
top: -0.5em;
}
sub {
bottom: -0.25em;
}

/* IcoMoon Font */
@font-face {
	font-family: 'arlington-icons';
	src:url('//arlingtonassets.s3.dualstack.us-east-1.amazonaws.com/fonts/arlington-icons/arlington-icons.eot');
	src:url('//arlingtonassets.s3.dualstack.us-east-1.amazonaws.com/fonts/arlington-icons/arlington-icons.eot?#iefix') format('embedded-opentype'),
		url('//arlingtonassets.s3.dualstack.us-east-1.amazonaws.com/fonts/arlington-icons/arlington-icons.woff') format('woff'),
		url('//arlingtonassets.s3.dualstack.us-east-1.amazonaws.com/fonts/arlington-icons/arlington-icons.ttf') format('truetype'),
		url('//arlingtonassets.s3.dualstack.us-east-1.amazonaws.com/fonts/arlington-icons/arlington-icons.svg#arlington-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'arlington-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
.icon-accessible-restroom,
.icon-active-wheelchair,
.icon-airplane,
.icon-alarm,
.icon-alarm2,
.icon-alarm3,
.icon-alarmclock,
.icon-amphitheater,
.icon-anchor,
.icon-android,
.icon-apple,
.icon-appleinc,
.icon-arlington-arts,
.icon-arlington-logo,
.icon-arrow-down,
.icon-arrow-down-left,
.icon-arrow-down-right,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-up-left,
.icon-arrow-up-right,
.icon-attachment,
.icon-award,
.icon-award2,
.icon-balance,
.icon-bandage,
.icon-banknote,
.icon-baseball,
.icon-baseball-set,
.icon-baseball-softball,
.icon-basketball,
.icon-basketball-hoop,
.icon-battery,
.icon-battery2,
.icon-bed,
.icon-bed2,
.icon-bell,
.icon-bicycle,
.icon-bicycle-repair,
.icon-bike,
.icon-billiard-ball,
.icon-binoculars,
.icon-blockquote-close,
.icon-blockquote-open,
.icon-bocce,
.icon-bookmark,
.icon-books,
.icon-bow,
.icon-bowling-ball,
.icon-bowling-pin-ball,
.icon-brain,
.icon-bridge,
.icon-brush,
.icon-bubble,
.icon-bubble2,
.icon-bubble7,
.icon-bubble-lines4,
.icon-bubbles10,
.icon-bubbles3,
.icon-bubbles8,
.icon-bubbles9,
.icon-bucket2,
.icon-bulb,
.icon-bullhorn,
.icon-bus,
.icon-cabinet,
.icon-cake,
.icon-calculator,
.icon-calendar,
.icon-calendar2,
.icon-calendar3,
.icon-camera,
.icon-camera3,
.icon-canine,
.icon-car,
.icon-charcoal-grill,
.icon-checkbox-checked,
.icon-checkmark,
.icon-checkmark2,
.icon-chopper,
.icon-city,
.icon-climbing-wall,
.icon-clinic,
.icon-clip,
.icon-clipboard,
.icon-clipboard-edit,
.icon-clipboard-list,
.icon-clipboard-move,
.icon-clouds,
.icon-cloudy,
.icon-cloudy2,
.icon-cloudy3,
.icon-collaboration,
.icon-community-garden,
.icon-compass,
.icon-computer-lab,
.icon-construction,
.icon-css3,
.icon-davidstar,
.icon-day-night2,
.icon-design,
.icon-desktop,
.icon-direction,
.icon-disc-golf,
.icon-document-certificate,
.icon-document-edit,
.icon-document-list,
.icon-dog-park,
.icon-dollar,
.icon-drinking-fountain,
.icon-drop-in-field,
.icon-dumbbell,
.icon-egg,
.icon-email,
.icon-facebook,
.icon-facebook2,
.icon-fence,
.icon-file-css,
.icon-file-excel,
.icon-file-pdf,
.icon-file-powerpoint,
.icon-file-word,
.icon-file-xml,
.icon-file-zip,
.icon-fire,
.icon-fire-pit,
.icon-fish,
.icon-fishing,
.icon-fitness,
.icon-fitness-center,
.icon-fitness-room,
.icon-fitness-trail,
.icon-flag,
.icon-flag2,
.icon-flickr,
.icon-food,
.icon-football,
.icon-free-parking,
.icon-furniture,
.icon-game-room,
.icon-gazebo,
.icon-git,
.icon-golf,
.icon-golf2,
.icon-graduation,
.icon-grill,
.icon-hammer,
.icon-handball,
.icon-headphones,
.icon-headset,
.icon-heart,
.icon-hockey,
.icon-home,
.icon-home7,
.icon-horseshoe,
.icon-horseshoe-pit,
.icon-html5,
.icon-info,
.icon-info2,
.icon-injection,
.icon-instagram,
.icon-instagram2,
.icon-interactive-water-feature,
.icon-key,
.icon-key2,
.icon-key3,
.icon-knife,
.icon-lacrosse,
.icon-lamp,
.icon-lamp,
.icon-lamp2,
.icon-laptop,
.icon-law,
.icon-lighted-field,
.icon-lightning,
.icon-linux,
.icon-list,
.icon-list2,
.icon-list-numbered,
.icon-location,
.icon-magic-wand2,
.icon-medal,
.icon-medal2,
.icon-meeting-room,
.icon-meetup-mobile .path1,
.icon-meetup-mobile .path2,
.icon-meetup-round,
.icon-megaphone,
.icon-menu,
.icon-metro-station,
.icon-mic,
.icon-mic5,
.icon-microphone,
.icon-microscope,
.icon-mobile,
.icon-mobile2,
.icon-monument,
.icon-moon,
.icon-nature-center,
.icon-nature-trail,
.icon-newspaper,
.icon-newspaper2,
.icon-nextdoor,
.icon-note-list,
.icon-office,
.icon-office2,
.icon-open,
.icon-ornamental-fountain,
.icon-paid-parking,
.icon-paint-format,
.icon-parking,
.icon-path,
.icon-paved-trail,
.icon-pedestrian,
.icon-pen,
.icon-pencil,
.icon-phone,
.icon-phone2,
.icon-phone3,
.icon-photo,
.icon-php,
.icon-picnic-shelter,
.icon-picnic-table,
.icon-pie-chart,
.icon-pinterest,
.icon-planet,
.icon-playground,
.icon-pond-stream,
.icon-power-cord2,
.icon-price-tag,
.icon-print,
.icon-pushpin,
.icon-puzzle3,
.icon-puzzle4,
.icon-python,
.icon-radio,
.icon-raindrop,
.icon-raindrops,
.icon-recycle,
.icon-refresh,
.icon-restroom,
.icon-road,
.icon-rose-garden,
.icon-rss,
.icon-ruler,
.icon-scissors,
.icon-screen,
.icon-search,
.icon-search5,
.icon-shipping,
.icon-shuttlecock,
.icon-signup,
.icon-skatepark,
.icon-snowflake,
.icon-snowy,
.icon-soccer,
.icon-soccer-shoe,
.icon-sort-alpha-asc,
.icon-sound,
.icon-speakers,
.icon-sports-shoe,
.icon-sprayground,
.icon-star,
.icon-stats-bars,
.icon-stats-bars2,
.icon-stats-dots,
.icon-steering-wheel,
.icon-stethoscope,
.icon-stop,
.icon-stop-watch,
.icon-streetcar,
.icon-streetcar-stop,
.icon-study,
.icon-sun,
.icon-sun2,
.icon-sunglasses,
.icon-svg,
.icon-tablet,
.icon-tablet2,
.icon-table-tennis,
.icon-tag,
.icon-tag-cord,
.icon-tag-cord2,
.icon-target,
.icon-temperature2,
.icon-tennis,
.icon-theater,
.icon-thermometer-half,
.icon-thumb-down,
.icon-thumb-up,
.icon-ticket,
.icon-traffic-cone,
.icon-traffic-lights,
.icon-trail,
.icon-trash,
.icon-tree,
.icon-trophy,
.icon-truck,
.icon-trumpet,
.icon-tumblr,
.icon-tumblr2,
.icon-twitter,
.icon-umbrella,
.icon-user,
.icon-users,
.icon-users5,
.icon-video-camera,
.icon-volleyball,
.icon-volleyball-water,
.icon-vote,
.icon-wall,
.icon-wallet,
.icon-warning,
.icon-water-fountain,
.icon-watertap,
.icon-wave,
.icon-weather,
.icon-weather2,
.icon-whatsapp,
.icon-wheelchair,
.icon-whistle,
.icon-wifi,
.icon-wind,
.icon-wordpress,
.icon-wrench,
.icon-wrench2,
.icon-yard-waste,
.icon-youtube,
.icon-youtube2 {
	font-family: 'arlington-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-accessible-restroom:before,
.icon-wheelchair:before {
	content: "\f3fe";
}
.icon-active-wheelchair:before {
  content: "\e934";
}
.icon-airplane:before {
	content: "\e016";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-alarm2:before {
  content: "\eb75";
}
.icon-alarm3:before {
  content: "\e95e";
}
.icon-alarmclock:before {
  content: "\e95d";
}
.icon-amphitheater:before {
	content: "\e00d";
}
.icon-anchor:before {
  content: "\eca3";
}
.icon-android:before {
  content: "\ef1f";
}
.icon-apple:before {
  content: "\ebcf";
}
.icon-appleinc:before {
  content: "\ef1d";
}
.icon-arlington-arts:before {
  content: "\e936";
}
.icon-arlington-logo:before {
	content: "\e000";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-award:before {
  content: "\e91d";
}
.icon-award2:before {
  content: "\e91f";
}
.icon-balance:before {
  content: "\ebe5";
}
.icon-bandage:before {
  content: "\eb76";
}
.icon-banknote:before {
  content: "\e94f";
}
.icon-baseball:before,
.icon-baseball-softball:before {
	content: "\f17b";
}
.icon-baseball-set:before {
  content: "\e913";
}
.icon-basketball:before {
	content: "\e01c";
}
.icon-basketball-hoop:before {
  content: "\e916";
}
.icon-battery:before {
  content: "\e962";
}
.icon-battery2:before {
  content: "\e963";
}
.icon-bed:before {
  content: "\ecdc";
}
.icon-bed2:before {
  content: "\ecdd";
}
.icon-bell:before {
  content: "\e951";
}
.icon-bicycle:before,
.icon-bike:before {
	content: "\f078";
}
.icon-bicycle-repair:before {
	content: "\e011";
}
.icon-billiard-ball:before {
  content: "\e912";
}
.icon-binoculars:before {
  content: "\e985";
}
.icon-blockquote-close:before {
	content: "\e044";
}
.icon-blockquote-open:before {
	content: "\e043";
}
.icon-bocce:before {
	content: "\e02b";
}
.icon-bookmark:before {
	content: "\e057";
}
.icon-books:before {
  content: "\e920";
}
.icon-bow:before {
  content: "\ec3a";
}
.icon-bowling-ball:before {
  content: "\e911";
}
.icon-bowling-pin-ball:before {
  content: "\e923";
}
.icon-brain:before {
	content: "\e017";
}
.icon-bridge:before {
	content: "\e03b";
}
.icon-brush:before {
	content: "\e010";
}
.icon-bubble:before,
.icon-meeting-room:before {
	content: "\e008";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubble7:before {
  content: "\ead6";
}
.icon-bubble-lines4:before {
  content: "\eadd";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-bubbles8:before {
  content: "\ead7";
}
.icon-bubbles9:before {
  content: "\eade";
}
.icon-bubbles10:before {
  content: "\eadf";
}
.icon-bucket2:before {
  content: "\e92f";
}
.icon-bulb:before {
  content: "\e94c";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-bus:before {
	content: "\f241";
}
.icon-cabinet:before {
  content: "\e93c";
}
.icon-cake:before {
  content: "\eb9c";
}
.icon-calculator:before {
  content: "\e927";
}
.icon-calendar:before {
	content: "\f407";
}
.icon-calendar2:before {
  content: "\e953";
}
.icon-calendar3:before {
  content: "\e959";
}
.icon-camera:before {
	content: "\e012";
}
.icon-camera3:before {
  content: "\e946";
}
.icon-canine:before,
.icon-dog-park:before {
	content: "\e030";
}
.icon-car:before {
	content: "\e022";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkmark:before {
	content: "\2713";
}
.icon-checkmark2:before {
  content: "\ea10";
}
.icon-chopper:before {
  content: "\ec16";
}
.icon-city:before {
  content: "\e933";
}
.icon-climbing-wall:before {
	content: "\e051";
}
.icon-clinic:before {
	content: "\f0ff";
}
.icon-clip:before {
  content: "\e957";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-clipboard-edit:before {
  content: "\e904";
}
.icon-clipboard-list:before {
  content: "\e905";
}
.icon-clipboard-move:before {
  content: "\e91c";
}
.icon-clouds:before {
  content: "\e940";
}
.icon-cloudy:before {
  content: "\e92a";
}
.icon-cloudy2:before {
  content: "\e92d";
}
.icon-cloudy3:before {
  content: "\e930";
}
.icon-collaboration:before {
  content: "\eb10";
}
.icon-community-garden:before {
	content: "\e039";
}
.icon-compass:before {
	content: "\e027";
}
.icon-computer-lab:before,
.icon-screen:before {
	content: "\e03e";
}
.icon-construction:before {
  content: "\eb7d";
}
.icon-css3:before {
	content: "\e048";
}
.icon-davidstar:before {
  content: "\e960";
}
.icon-day-night2:before {
  content: "\ecd2";
}
.icon-design:before {
  content: "\e90d";
}
.icon-desktop:before {
  content: "\e04f";
}
.icon-direction:before {
  content: "\ea4a";
}
.icon-disc-golf:before {
	content: "\e062";
}
.icon-document-certificate:before {
  content: "\e90c";
}
.icon-document-edit:before {
  content: "\e90a";
}
.icon-document-list:before {
  content: "\e908";
}
.icon-dollar:before {
	content: "\e018";
}
.icon-drinking-fountain:before,
.icon-water-fountain:before {
	content: "\e036";
}
.icon-drop-in-field:before {
	content: "\e060";
}
.icon-egg:before {
	content: "\e04c";
}
.icon-email:before {
	content: "\e025";
}
.icon-facebook:before {
	content: "\e001";
}
.icon-facebook2:before {
  content: "\eef0";
}
.icon-fence:before {
	content: "\f2af";
}
.icon-file-css:before {
	content: "\e040";
}
.icon-file-excel:before {
	content: "\e04b";
}
.icon-file-pdf:before {
	content: "\e007";
}
.icon-file-powerpoint:before {
	content: "\e03a";
}
.icon-file-word:before {
	content: "\e04a";
}
.icon-file-xml:before {
	content: "\e03f";
}
.icon-file-zip:before {
	content: "\e04e";
}
.icon-fire:before,
.icon-fire-pit:before {
	content: "\e01a";
}
.icon-fish:before,
.icon-fishing:before {
	content: "\e058";
}
.icon-fitness:before,
.icon-fitness-trail:before {
	content: "\e038";
}
.icon-fitness-center:before,
.icon-fitness-room:before,
.icon-dumbbell:before {
	content: "\e01b";
}
.icon-flag:before {
  content: "\e900";
}
.icon-flag2:before {
  content: "\e901";
}
.icon-flickr:before {
	content: "\e004";
}
.icon-food:before {
	content: "\e029";
}
.icon-football:before {
	content: "\e034";
}
.icon-free-parking:before,
.icon-parking:before {
	content: "\e033";
}
.icon-furniture:before {
  content: "\ecde";
}
.icon-game-room:before {
	content: "\e059";
}
.icon-gazebo:before {
	content: "\e052";
}
.icon-git:before {
	content: "\e046";
}
.icon-golf:before {
  content: "\e91b";
}
.icon-golf2:before {
  content: "\ec41";
}
.icon-graduation:before {
  content: "\e99a";
}
.icon-charcoal-grill:before,
.icon-grill:before {
	content: "\e015";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-handball:before {
	content: "\e02f";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-headset:before {
  content: "\e949";
}
.icon-heart:before {
  content: "\e945";
}
.icon-hockey:before {
  content: "\ec42";
}
.icon-home:before {
	content: "\e00b";
}
.icon-home7:before {
  content: "\e906";
}
.icon-horseshoe:before,
.icon-horseshoe-pit:before {
	content: "\e026";
}
.icon-html5:before {
	content: "\e04d";
}
.icon-info:before {
  content: "\e966";
}
.icon-info2:before {
  content: "\e967";
}
.icon-injection:before {
  content: "\e964";
}
.icon-instagram:before {
  content: "\eef1";
}
.icon-instagram2:before {
  content: "\ea92";
}
.icon-interactive-water-feature:before {
	content: "\e053";
}
.icon-key:before {
  content: "\e902";
}
.icon-key2:before {
  content: "\e903";
}
.icon-key3:before {
  content: "\e94a";
}
.icon-knife:before {
  content: "\eb6a";
}
.icon-lacrosse:before {
	content: "\e03c";
}
.icon-lamp:before,
.icon-lighted-field:before {
	content: "\e00e";
}
.icon-lamp2:before {
  content: "\e965";
}
.icon-laptop:before {
  content: "\e028";
}
.icon-law:before {
  content: "\f0d8";
}
.icon-lightning:before {
  content: "\e92e";
}
.icon-linux:before {
	content: "\e049";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-location:before {
	content: "\e047";
}
.icon-magic-wand2:before {
  content: "\eb6e";
}
.icon-medal:before {
  content: "\e914";
}
.icon-medal2:before {
  content: "\e915";
}
.icon-meetup-mobile .path1:before {
  content: "\e937";
  color: rgb(0, 0, 0);
}
.icon-meetup-mobile .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-meetup-round:before {
  content: "\e93a";
}
.icon-megaphone:before {
  content: "\e952";
}
.icon-menu:before {
	content: "\f127";
}
.icon-metro-station:before {
	content: "\e050";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-mic5:before {
  content: "\e98f";
}
.icon-microphone:before {
  content: "\e969";
}
.icon-microscope:before {
  content: "\f089";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e01d";
}
.icon-monument:before {
	content: "\e00f";
}
.icon-moon:before {
  content: "\ecd0";
}
.icon-nature-center:before {
	content: "\e031";
}
.icon-nature-trail:before {
	content: "\e041";
}
.icon-newspaper:before {
  content: "\e90b";
}
.icon-newspaper2:before {
  content: "\e05c";
}
.icon-nextdoor:before {
  content: "\e93b";
}
.icon-note-list:before {
  content: "\e907";
}
.icon-office:before {
	content: "\e037";
}
.icon-office2:before {
  content: "\e932";
}
.icon-open:before {
  content: "\e95f";
}
.icon-ornamental-fountain:before {
	content: "\e03d";
}
.icon-paid-parking:before {
	content: "\e02c";
}
.icon-paint-format:before {
  content: "\e938";
}

.icon-path:before,
.icon-paved-trail:before,
.icon-trail:before {
	content: "\e023";
}
.icon-pedestrian:before {
	content: "\e02a";
}
.icon-pen:before {
  content: "\e909";
}
.icon-pencil:before {
	content: "\e055";
}
.icon-phone:before {
	content: "\e056";
}
.icon-phone2:before {
  content: "\e94d";
}
.icon-phone3:before {
  content: "\e05b";
}
.icon-photo:before {
  content: "\e94e";
}
.icon-php:before {
	content: "\f09c";
}
.icon-picnic-shelter:before {
	content: "\e021";
}
.icon-picnic-table:before {
	content: "\e019";
}
.icon-pie-chart:before {
  content: "\e99b";
}
.icon-pinterest:before {
	content: "\e003";
}
.icon-planet:before {
  content: "\ec94";
}
.icon-playground:before {
	content: "\e035";
}
.icon-pond-stream:before,
.icon-wave:before {
	content: "\f23b";
}
.icon-power-cord2:before {
  content: "\ec4e";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-print:before {
	content: "\e01f";
}
.icon-pushpin:before {
  content: "\e947";
}
.icon-puzzle3:before {
  content: "\ec21";
}
.icon-puzzle4:before {
  content: "\ec22";
}
.icon-python:before {
	content: "\f071";
}
.icon-radio:before {
  content: "\e96b";
}
.icon-raindrop:before {
  content: "\e93e";
}
.icon-raindrops:before {
  content: "\e93d";
}
.icon-recycle:before {
	content: "\f297";
}
.icon-refresh:before {
	content: "\e00c";
}
.icon-restroom:before {
	content: "\e01e";
}
.icon-road:before {
  content: "\e9b1";
}
.icon-rose-garden:before {
	content: "\e054";
}
.icon-rss:before {
	content: "\e005";
}
.icon-ruler:before {
	content: "\f028";
}
.icon-scissors:before {
  content: "\ea5a";
}
.icon-search:before {
	content: "\e042";
}
.icon-search5:before {
  content: "\eb3a";
}
.icon-shipping:before {
  content: "\e96c";
}
.icon-shuttlecock:before {
  content: "\e919";
}
.icon-signup:before {
	content: "\e013";
}
.icon-skatepark:before {
	content: "\e024";
}
.icon-snowflake:before {
  content: "\ecbd";
}
.icon-snowy:before {
  content: "\e92b";
}
.icon-soccer:before {
	content: "\f2eb";
}
.icon-soccer-shoe:before {
  content: "\e925";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sound:before {
  content: "\e926";
}
.icon-speakers:before {
  content: "\e956";
}
.icon-sports-shoe:before {
  content: "\e924";
}
.icon-sprayground:before {
	content: "\e032";
}
.icon-star:before {
  content: "\e948";
}
.icon-stats-bars:before {
  content: "\e99d";
}
.icon-stats-bars2:before {
  content: "\e99e";
}
.icon-stats-dots:before {
  content: "\e99c";
}
.icon-steering-wheel:before {
  content: "\ec0b";
}
.icon-stethoscope:before {
  content: "\eb73";
}
.icon-stop:before {
  content: "\e96a";
}
.icon-stop-watch:before {
  content: "\e918";
}
.icon-streetcar:before,
.icon-streetcar-stop:before {
	content: "\f142";
}
.icon-study:before {
  content: "\e954";
}
.icon-sun:before {
  content: "\ecce";
}
.icon-sun2:before {
  content: "\eccf";
}
.icon-sunglasses:before {
  content: "\e93f";
}
.icon-svg:before {
  content: "\eae9";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-tablet2:before {
  content: "\e05a";
}
.icon-table-tennis:before {
  content: "\e917";
}
.icon-tag:before {
  content: "\e94b";
}
.icon-tag-cord:before {
  content: "\e90e";
}
.icon-tag-cord2:before {
  content: "\e90f";
}
.icon-target:before {
  content: "\e05d";
}
.icon-temperature2:before {
  content: "\ecbf";
}
.icon-tennis:before {
	content: "\f2ea";
}
.icon-theater:before {
  content: "\e9fb";
}
.icon-thermometer-half:before {
  content: "\e942";
}
.icon-thumb-down:before {
  content: "\e944";
}
.icon-thumb-up:before {
  content: "\e943";
}
.icon-ticket:before {
  content: "\e968";
}
.icon-traffic-cone:before {
  content: "\eb7e";
}
.icon-traffic-lights:before {
  content: "\eb7f";
}
.icon-trash:before {
	content: "\f1b8";
}
.icon-tree:before {
  content: "\ebd2";
}
.icon-trophy:before {
  content: "\e99f";
}
.icon-truck:before {
  content: "\e95c";
}
.icon-trumpet:before {
  content: "\e955";
}
.icon-tumblr:before {
  content: "\ef18";
}
.icon-tumblr2:before {
  content: "\ef19";
}
.icon-twitter:before {
	content: "\e006";
}
.icon-umbrella:before {
  content: "\ecd5";
}
.icon-user:before {
  content: "\e928";
}
.icon-users:before {
  content: "\e929";
}
.icon-users5:before {
  content: "\eb0f";
}
.icon-video-camera:before {
	content: "\e00a";
}
.icon-volleyball:before {
	content: "\e02e";
}
.icon-volleyball-water:before {
  content: "\e922";
}
.icon-vote:before {
	content: "\e020";
}
.icon-wallet:before {
  content: "\e95b";
}
.icon-warning:before {
	content: "\e014";
}
.icon-watertap:before {
	content: "\f22d";
}
.icon-weather:before {
  content: "\e92c";
}
.icon-weather2:before {
  content: "\e931";
}
.icon-whatsapp:before {
  content: "\eef2";
}
.icon-whistle:before {
  content: "\e921";
}
.icon-wifi:before {
	content: "\e009";
}
.icon-wind:before {
  content: "\e941";
}
.icon-wordpress:before {
	content: "\e045";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-wrench2:before {
  content: "\eb59";
}
.icon-yard-waste:before {
	content: "\e02d";
}
.icon-youtube:before {
	content: "\e002";
}

/* Helpers */
.holder,
.site-inner,
.footer-widgets .wrap {
max-width:960px;
margin:0 auto;
_width:960px; /*IE6 doesn't understand max-width*/
}

/* Use .hide for completely hidding an element from visual and screen readers */
.hide {
display:none!important;
}

/* Use .hidden to visual hide an element but still making it accessible to screen readers. */
.hidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

/* #top is the ID of the Skip link. */
#top {
left:-999em;
position:absolute;
top:auto;
.top:-999em;
}

/* If the skip link is focused using the keyboard then show it. */
#top:focus {
position:static;
font-size:1.5em;
background-color:#FFFFD5;
display:block;
font-weight:700;
color:#000;
padding:2px 15px 5px;
}

/* Should only be used as a last resort if clearing floats with overflow:hidden|auto doesn't work. */
.clearfix {
zoom: 1;
}
.clearfix:before,
.clearfix:after {
content: ".";
display: block;
height: 0;
overflow: hidden;
zoom: 1;
}
.clearfix:after {clear: both;}


/* Column Classes
    Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.one-half,
.one-third,
.one-fourth,
.one-fifth,
.one-sixth,
.two-thirds,
.two-fourths,
.two-fifths,
.two-sixths,
.three-fourths,
.three-fifths,
.three-sixths,
.four-fifths,
.four-sixths,
.five-sixths {
	float: left;
	margin-right: 2.564102564102564%;
}

.one-fifth {
	width: 17.948717948717948%;
}

.two-fifths {
	width: 38.461538461538461%;
}

.three-fifths {
	width: 58.974358974358974%;
}

.four-fifths {
	/* width: 76.923076923076923%; */
	width: 79.484871794871794%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}

.last {
	clear: right;
	margin-left: 0;
	margin-right: 0;
}


/* General */
body {
	color: #000;
	background-color: #fff;
	font-family: 'Open Sans', arial, sans-serif;
}

.site-title,
h1,
h2,
h3,
h4,
h5,
h6,
.looks-like-h1,
.looks-like-h2,
.looks-like-h3,
.looks-like-h4,
.looks-like-h5,
.looks-like-h6 {
font-weight:700;
font-family:'PT Sans', sans-serif;
color:#e38410;
line-height:1.5;
margin:0 0 0.5em;
}
h1,
.looks-like-h1,
.site-title {
font-size:40px;
color:#015cb9;
}
h1,
.looks-like-h1 {
line-height:1.0;
}
h2,
.looks-like-h2 {
font-size:24px;
line-height:1.0;
color:#666;
}
h3,
.looks-like-h3 {
font-size:20px;
line-height:1.25;
}
h4,
.looks-like-h4 {
font-size:18px;
line-height:1.25;
}
h5,
.looks-like-h5 {
font-size:16px;
line-height:1.25;
}
h6,
.looks-like-h6 {
font-size:14px;
line-height:1.25;
}

a {
text-decoration:none;
color:#015cb9;
}

a:after {
	font-family: "arlington-icons";
	/* font-family: 'Font Awesome 5 Free'; */
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
}

a[href^="mailto:"]:after {
content: " \e025";
}

a[href^="tel:"]:after {
content: " \e056";
}

/* Video files */
a[href$=".asf"]:after,
a[href$=".asx"]:after,
a[href$=".avi"]:after,
a[href$=".divx"]:after,
a[href$=".qt"]:after,
a[href$=".m4v"]:after,
a[href$=".mkv"]:after,
a[href$=".mpe"]:after,
a[href$=".mpg"]:after,
a[href$=".mp4"]:after,
a[href$=".mpeg"]:after,
a[href$=".mov"]:after,
a[href$=".wax"]:after,
a[href$=".wmv"]:after,
a[href$=".wmx"]:after {
content: " \e00a";
}

/* PDF files */
a[href$=".pdf"]:after,
a.pdf-icon:after {
content: " \e007";
}

/* Microsoft Word files */
a[href$=".doc"]:after,
a[href$=".docx"]:after {
content: " \e04a";
}

/* Microsoft PowerPoint files */
a[href$=".pot"]:after,
a[href$=".pps"]:after,
a[href$=".ppt"]:after,
a[href$=".pptx"]:after {
content: " \e03a";
}

/* Microsoft Excel files */
a[href$=".xla"]:after,
a[href$=".xlt"]:after,
a[href$=".xls"]:after,
a[href$=".xlsx"]:after,
a[href$=".xlw"]:after {
content: " \e04b";
}

/* iCalendar files */
a[href$=".ics"]:after,
a[href$="/ical/"]:after,
li.all-events-link a:after{
	content: " \f407";
}

/* Zip files */
a[href$=".zip"]:after{
content: " \e04e";
}

a.map-link:after {
content: " \e047";
}

/* No icons after gizmo images, slider images, or headers */
a.no-file-icon:after,
.gizmo a.no-file-icon:after,
div.slidesjs-slide a:after {
content: none;
}

a:hover,
a:focus {
color:#7ac4fc;
}

hr {
	height: 1px;
	border: 0;
	background-color: #ccc;
}

blockquote {
	color: #444;
}

figure.blockquote-figure {
border-left: 3px solid #7AC4FC;
padding-left: 2em;
}

figcaption.blockquote-caption {
font-size: 1.2em;
}

figcaption.blockquote-caption:before{
content: "\2014 \2009"
}

.required {
color: red;
}

/* Alerts */

/* Look at this: http://css-tricks.com/vertically-center-multi-lined-text/  */
.alert,
.alert .holder {
display:table;
width:99%;
min-height:5em;
}
.alert div {
display:table-cell;
vertical-align:middle;
}
.alert .icon {
font-size: 3.6em;
text-align: center;
padding-left:0.25em;
}
.major-alert .icon {
padding-left:0;
}
.alert .label {
padding:0;
}
.alert .label p {
font-size: 2em;
line-height:1.3;
font-style: normal;
font-weight: 700;
text-align:left;
padding:0 0.25em;
}

.alert .message {
width:77%;
font-size:1.3em;
line-height:1.6;
}

.major-alert {
background-color:#D80000;
padding:5px 0;
}

.major-alert.alert {
	width: 100%;
}

.major-alert .holder {
color:#fff;
overflow:auto;
height:100%;
}
.major-alert a {
color:#fff;
}
.minor-alert {
border:2px solid #D20000;
color:#D60000;
overflow:auto;
height:100%;
margin-bottom:1em;
}

/* ACG alert */
.acg-site-alert {
	padding: 5px 0;
	top: 0;
	width: 100%;
}
.acg-site-alert-close {
	float:right;
	margin-right:10px;
	color:#fff;
}
.acg-site-alert-close:hover {
	cursor:pointer;
	color:#000;
}

/* Livestream alert */
.livestream-alert {
	background: #e87c1a;
	padding: 5px 0;
	top: 0;
	width: 100%;
}
.livestream-alert {
	z-index: 99;
	position: fixed;
}

.livestream-alert-button,
.acg-site-alert-button {
	background: #fff;
	border-radius: 4px;
	color: #e87c1a !important;
	float: right !important;
	font-size: 18px;
	font-weight: bold;
	padding: 1px 1em;
	margin-left: .5em;
	line-height: 1.5em;
}

.livestream-alert-button:hover,
.acg-site-alert-button:hover {
	background: #fbeada;
}

.livestream-alert.red,
.acg-site-alert.red {
	background: #ed1b24;
}

.livestream-alert.red .livestream-alert-button,
.acg-site-alert.red .acg-site-alert-button  {
	color: #ed1b24 !important;
}

.livestream-alert.red .livestream-alert-button:hover,
.acg-site-alert.red .acg-site-alert-button:hover {
	background: #fbdada;
}

.livestream-alert.green,
.acg-site-alert.green {
	background: #33b64e;
}

.livestream-alert.green .livestream-alert-button,
.acg-site-alert.green .acg-site-alert-button {
	color: #33b64e !important;
}

.livestream-alert.green .livestream-alert-button:hover,
.acg-site-alert.green .acg-site-alert-button:hover {
	background: #dafbda;
}

.livestream-alert.orange,
.acg-site-alert.orange {
	background: #e38410;
}

.livestream-alert.orange .livestream-alert-button,
.acg-site-alert.orange .acg-site-alert-button {
	color: #e38410 !important;
}

.livestream-alert.orange .livestream-alert-button:hover,
.acg-site-alert.orange .acg-site-alert-button:hover {
	background: #fbebda;
}
.chat-bot-container {
	position: fixed;
	right: 20px;
	z-index: 1000;
	width: 60px;
	height: 60px;
	top: 20%;
}
.chat-bot-container .chat-inner {
	width: 100%;
	height: 100%;
	background: #5ab155;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.65);
	position: relative;
	font-size: 30px;
	text-align: center;
}
.chat-bot-container .chat-inner i {
	position: absolute;
	left: 50%;
	top: 53%;
	transform: translate(-50%,-50%);
}
.chat-bot-popup {
	position: fixed;
	bottom: 0px;
	right: 30px;
	background: #fff;
	transition: height 0.25s ease-in, visibility 0.25s ease-in-out, opacity 0.5s ease-in;
	height: 0;
	z-index: 1000;
	opacity: 0;
	width: 280px;
}
.chat-bot-popup .inner {
	position: relative;
}
.chat-bot-popup .inner .popup-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 38px;
	display: flex;
	justify-content: space-between;
	background-color: #0078d7;
	box-shadow: 0 1px rgba(0, 0, 0, 0.2);
	padding: 0;
	max-width: 100%;
	align-items: center;
	cursor: pointer;
}
.chat-bot-popup .inner .popup-header span {
	font-size: 15px;
	padding-left: 4px;
}
.chat-bot-popup .inner i[class*="icon-"],
.chat-bot-popup .inner i[class*="fa-"]{
	font-size: 24px;
	padding-right: 5px;
}
.chat-bot-popup .inner iframe {
	height: 0;
	transition: height 0.25s ease-in, visibility 0.25s ease-in-out;
	width: 100%;
	border-bottom: none;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.65);
}
.chat-bot-popup.is-open {
	opacity: 1;
}
.chat-bot-popup.is-open,
.chat-bot-popup.is-open iframe {
	height: 560px;
}

@media(min-width: 768px){
	.chat-bot-popup {
		right: 100px;
		width: 320px;
	}
	.chat-bot-popup.is-open, 
	.chat-bot-popup.is-open iframe {
		height: 560px
	}
}

.admin-bar .livestream-alert {
	top: 32px;
}

@media (max-width: 782px) {
	.admin-bar .livestream-alert {
		top: 46px;
	}
}

.livestream-alert-text,
.acg-site-alert-text {
	display: inherit;
	color: #fff;
	font-size: 16px;
	line-height: 1.4em;
	margin-top: .2em;
 	margin-bottom: .2em;
}

.livestream-alert-text a,
.acg-site-alert-text a {
	color: #fff;
	text-decoration: underline;
}

@media (max-width: 900px) {
	.livestream-alert,
	.acg-site-alert {
		text-align: center;
	}

	.livestream-alert-text,
	.acg-site-alert-text {
		display: block;
	}

	.livestream-alert-text,
	.livestream-alert-button,
	.acg-site-alert-text,
	.acg-site-alert-button {
		float: none;
	}

	.livestream-alert-button,
	.acg-site-alert-button {
		margin-top: .5em;
	}
}

/* Header */

header .holder {
	position:relative;
}
header .search {
	border:2px solid #ccc;
	position:absolute;
	top:2.5em;
	right:0;
	width:30em;
}
header .search-button-icon {
	width: 16px;
	height: 16px;
	padding: 6.75px;
	background-color: #E38410;
}
header input, header #s {
	float:left;
	height:30px;
	border:0 none;
}
header #s {
	padding:0 0.6em;
	font-size:1.6em;
	width:90%;
}
header #s::-webkit-input-placeholder { /* WebKit browsers */
	color:#000;
}
header #s:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#000;
}
header #s::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#000;
}
header #s:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#000;
}
header #q:active, header #q:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
header .submit {
	position:absolute;
	right:0;
}

/**
 * Header: Lined Headers
 * Usage: <p class="lined-header lined-header-center"><span>Header Text</span></p>
 */
.lined-header {
  line-height: 0.7em;
}
.lined-header span:before,
.lined-header span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2.5px solid #666;
  bottom: -0.05em;
  width: 595px;
}
.lined-header span {
  font-family: 'PT Sans', sans-serif;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  display: inline-block;
  position: relative;
  color: #666;
  font-size: 24px;
  font-weight: 700;
}
.lined-header span:before {
  right: 100%;
  margin-right: 7.5px;
}
.lined-header span:after {
  left: 100%;
  margin-left: 6.5px;
}

/**
 * Header: Lined Headers - Double
 * Usage: <p class="lined-header lined-header-double lined-header-center"><span>Header Text</span></p>
 */
.lined-header-center {
  text-align: center;
}
.lined-header-double span:before,
.lined-header-double span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2.5px solid #ccc;
  border-top: 2.5px solid #ccc;
  top: 0;
  width: 595px;
}
.lined-header-double span:before {
  right: 100%;
  margin-right: 8.5px;
}
.lined-header-double span:after {
  left: 100%;
  margin-left: 7.5px;
}

#top-links {
	background-color:#2e8be8;
	min-height:45px;
}

#top-links .logo {
	display: block;
	position: absolute;
	z-index: 1;
	left: 1px;
	top: 8px;
	font-family: 'PT Sans', sans-serif;
	font-size: 2.5em;
	text-decoration: none;
	font-weight: 600;
}
#top-links .logo i {
	font-size:150%;
	margin-top:-5px;
	float:left;
	padding-right:5px;
}
.tabbed-logo #top-links .logo {
	background-image: url(//d1rn8z435cu2eh.cloudfront.net/img/blue-tab.png);
	background-position: top center;
	background-repeat: no-repeat;
	position: absolute;
	width: 237px;
	height: 54px;
	top: 17px;
	left: -40px;
	padding-top: 8px;
	padding-left: 40px;
	text-decoration:none;
	top: 33px;
}

#top-links p {
	float:right;
	font-size:1.3em;
	padding:16px 0;
}
#top-links .holder-inner {
	padding:8px 0;
	float: right;
	font-size: 1.3em;
	padding: 16px 0;
	display: flex;
	flex-flow: row;
	padding-right: 5px;
}
#top-links .holder-inner a.translate-option-btn {
	
}
#top-links .holder-inner .translate-panel {
	display: inline-block;
	position: relative;
}
#top-links .holder-inner .translate-option-dropdown {
	display: none;
	position: absolute;
	top: 120%;
	right: 0;
	width: 240px;
	color: #000;
	z-index: 9998;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
#top-links .holder-inner .translate-option-dropdown.is-open {
	display: block;
	width: auto;
	padding: 0;
}
#top-links .holder-inner .translate-option-dropdown .dropdown-inner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}
#top-links .holder-inner .translate-option-dropdown.is-open .dropdown-inner {
	display: block;
	max-height: 166px;
	overflow: hidden;
	box-sizing: content-box;
	overflow-y: auto;
	overflow-x: hidden;
	/* box-shadow: 1px 2px 2px rgba(0,0,0,0.65); */
	margin-top: 15px;
}
a.glink {
    text-decoration: none;
}
a.glink img {
    vertical-align: middle;
    display: inline;
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 0.8;
	margin-right:3px !important;
}
a.glink span {
    margin-right: 5px;
    font-size: 15px;
    vertical-align: middle;
}
#top-links .holder-inner .translate-option-dropdown.is-open .dropdown-inner a.glink {
	padding: 3px 5px;
	width: 163px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	background-color: #EEEEEE;
}
#top-links .holder-inner .translate-option-dropdown.is-open .dropdown-inner a.glink img {
	width: 16px;
	height: 16px;
}
#top-links .holder-inner .translate-option-dropdown.is-open .dropdown-inner a.glink span {
	font-size: 10pt;
}
#top-links .holder-inner .translate-option-dropdown i {
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 100;
	cursor: pointer;	
	color: #fff;
}
#top-links .holder-inner .translate-option-dropdown .dropdown-inner .switcher {
	box-shadow: 1px 2px 2px rgba(0,0,0,0.65);
}
#top-links .holder-inner .translate-option-dropdown .dropdown-inner .switcher a {
	color: #000;
}
#top-links .holder-inner a.glink {
	color: #000;
	display: block;
	width: 50%;
}
.off-canvas-wrap {
	-webkit-backface-visibility: hidden;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.off-canvas-wrap .inner-wrap {
	position: relative;
	width: 100%;
	-webkit-transition: -webkit-transform 500ms ease;
	-moz-transition: -moz-transform 500ms ease;
	-ms-transition: -ms-transform 500ms ease;
	-o-transition: -o-transform 500ms ease;
	transition: transform 500ms ease;
}
.off-canvas-wrap .inner-wrap #translationList {
	background: #ebebeb;
	display: none;
	padding: 40px 20px 10px 20px;
	position: relative;
}
.off-canvas-wrap .inner-wrap #translationList .close-btn {
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 10;
	font-size: 18px;
	cursor: pointer;
}
.off-canvas-wrap .inner-wrap #translationList .more-options {
	clear:both;
	text-align: center;
	margin: 15px auto 10px auto;
	padding-top:20px;
}
.off-canvas-wrap .inner-wrap #translationList .more-options a {
	font-size: 14px;
}
.off-canvas-wrap .inner-wrap #translationList .more-options a + a {
	padding-left: 15px;
}
.off-canvas-wrap .inner-wrap #translationList .inner-translation-list {
	align-items: center;
}
.off-canvas-wrap .inner-wrap #translationList .inner-translation-list .glink {
	display: block;
	text-align: left;
	padding-bottom: 10px;
}
.off-canvas-wrap .inner-wrap #translationList .inner-translation-list .glink-wrap {
	text-align: center;
	float: left;
	width: 50%;
}
.off-canvas-wrap .inner-wrap #translationList .inner-translation-list .glink-wrap .glink-flag-inner {
	text-align: center;
}
.off-canvas-wrap .inner-wrap #translationList .inner-translation-list .glink-wrap .glink-wrap-inner a {
	display: block;
}
.off-canvas-wrap .inner-wrap #translationList .inner-translation-list .glink-wrap .glink-wrap-inner a + a {
	padding-top: 3px;
}

@media(min-width: 576px){
	.off-canvas-wrap .inner-wrap #translationList .inner-translation-list {
		display: flex;
		align-items: center;
		flex-flow: row wrap;
	}
	.off-canvas-wrap .inner-wrap #translationList .inner-translation-list .glink-wrap {
		width: 33.3%;
		float: none;
	}
}
@media(min-width: 768px){
	#top-links .holder-inner .translate-option-dropdown {
		width: auto;
		max-height: 160px;
		overflow-y: initial;
		overflow-x: initial;
	}
	#top-links .holder-inner a.glink {
		width: 100%;
	}
	.off-canvas-wrap .inner-wrap #translationList .inner-translation-list .glink-wrap {
		width: 16.6%;
	}
	.off-canvas-wrap .inner-wrap #translationList .close-btn {
		top: 15px;
		font-size: 20px;
	}
}
#top-links a, #top-links .bull {
	color:#fff;
}
#top-links .bull {
	font-size:100%;
	padding-right:0.3em;
}
#top-links .holder p .bull:nth-child(8),
#top-links .holder p .bull:last-child {
	display: none;
}
#top-links .holder p a i.fal {
    padding-right: 5px;

}
#top-links a:hover, #top-links a:active {
	text-decoration:underline;
}

nav ul {
	overflow:auto;
	width:100%;
}
nav .main-menu ul {
	position:absolute;
	left:0;
	width:100%;
	height:50px;
	background-color:#2E8BE8;
}

nav .mobile {
	display:none;
}
nav .mobile a {
	text-transform:uppercase;
	font-weight:700;
	padding:1em 0;
}
nav .mobile img {
	position:relative;
	top:9px;
	margin-right:0.4em;
}
nav .mobile, nav .main-menu {
	background-color:#005cbb;
}
nav .main-menu {
	-moz-border-radius: 12px 12px 0 0;
	-webkit-border-radius: 12px 12px 0 0;
	border-radius: 12px 12px 0 0;
	margin-bottom:50px;
}

nav .mobile li {
	margin-right:0;
}
nav li {
	list-style:none;
}
nav li.top-level {
	float:left;
}
nav .main-menu li.home {
	width:5%;
}

nav a {
	display:block;
	color:#fff;
	/* font-size:1.4em; */
	padding:1em;
	text-align:center;
}
nav a:hover, nav a:active, nav a:focus {
	text-decoration: underline;
}
nav .active, nav .active-parent {
	background-color:#2e8be8;
}
nav .main-menu li .sub-menu {
	visibility:hidden;
}
nav .main-menu li:hover a {
	background-color:#2E8BE8;
}
nav .main-menu li:hover .sub-menu,
nav .main-menu li.active-parent .sub-menu,
nav .main-menu li.active .sub-menu {
	visibility:visible;
}
nav .main-menu li:hover a {
	background-color:inherit;
}
nav .main-menu .sub-menu li {
	display:block;
	float:left;
}

nav .main-menu li.first, nav .first a {
	border-left:0 none;
}
nav .last a {
	border-right:0 none;
}
nav .main-menu a,
nav .mobile a {
	font-size:1.4em;
	border-color:#2e8be8;
}
nav .menu-items-1 li {
	width:100%;
}
nav .main-menu li.top-level a{
	padding: 1em 1.5em;
}
nav .main-menu ul.sub-menu a{
	padding: 1em;
}

h1.site-title {
	text-align:left;
	padding:0.3em 0 0;
	font-weight:700;
}
h1.site-title a {
	color:#005cbb;
}
.tabbed-logo .site-title {
	visibility:hidden;
}

/* Layouts */
.page-licensed-child-care-directory-child-care-centers .content {
	overflow: initial;
}
.page-licensed-child-care-directory-child-care-centers .content p {
	margin-bottom:0px !important;
}
.select-deselect {
	padding-top:6px;
	font-size:9px;
	float:right;
}
.select-deselect a {
	color:#000;
}
.select-option {
	
}
.select-option-half {
	width:50%;
	float:left;
}

.content-full-width main {
	width:100%;
}
.content-sidebar main {
	float:left;
	margin-right:30px;
	width:62%;
}
.sidebar-content main {
	float:right;
	margin-left:30px;
	width:62%;
}
.content-sidebar aside, .sidebar-content aside {
	float:left;
	width:33%;
	max-width:318px;
}

/* Content */
main .entry-title {
	font-family:'PT Sans', sans-serif;
	font-weight:700;
	font-size:2.8em;
	line-height:1.09;
	border-bottom:1px solid #ddd;
	padding-bottom:0.3em;
	color:#717171;
}
body.archive main .entry-title {
	font-size: 1.8em;
	line-height: 1.25;
}
main .archive-title,
main .location-name {
	font-family:'PT Sans', sans-serif;
	font-weight:700;
	font-size:2.8em;
	line-height:1.09;
	padding-bottom:0.3em;
	color:#717171;
}
main .social-sharing-facebook {
	background-color: #3b5998;
}
main .social-sharing-twitter {
	background-color: #00aced;
}
main .social-sharing .social-sharing-text {
	font-size: 1.1em;
	position: relative;
	top: -0.35em;
}
main .social-sharing span.icon-facebook,
main .social-sharing span.icon-twitter {
	font-size: 2em;
	font-weight: normal;
}
main ul,
main ol {
	margin: 0 0 1.5em 0;
	padding: 0 0 0 2.5em;
}
main ul li {
	list-style-type:disc;
}
main ol li {
	list-style-type:decimal;
}
main li {
	font-size:1.3em;
	line-height:1.6;
}
main li li:before {
	content: "\2022";
	color: #7AC4FC;
	font-size:150%;
	padding-right:0.3em;
}
main li li li:before {
	content: "\25E6";
	color: #7AC4FC;
}
main li li,
main li li li {
	font-size: 1em;
	list-style:none;
	text-indent:-1em;
	line-height:1.4em
}
main li ul,
main li ol {
	margin-bottom:0;
}
main ol li ol li:before,
main ul li ol li:before,
main ol li ol li ol li:before {
content: none;
}
main ol li ol li,
main ul li ol li {
list-style: lower-alpha outside none;
text-indent: 0.1em;
}
main ol li ol li ol li {
list-style: upper-roman outside none;
text-indent: 0.1em;
}
main ol li ol li ul li:before {
color: #7ac4fc;
content: "\25E6";
font-size: 150%;
padding-right: 0.3em;
}
main ol li ol li ul li {
list-style: none outside none;
text-indent: -1em;
}

.site-inner {
	padding: 2em 1.5em;
	overflow: auto;
	height: 100%;
}

.content {
/*! overflow:auto; */
height:100%;
padding-bottom:5px;
}

main p, main .acg-alert, main div.flexbox.row {
	font-size: 1.3em;
	line-height: 1.3;
	margin-bottom: 1.2em;
}
main div.flexbox.row {
	max-width: 98%;
}
main div.flexbox.row p {
	font-size: 1em;
}
main li.collapsible-list-item .gform_description p {
	font-size:13px !important;
}
main li p {
	font-size:1em;
}

main article,
main article footer {
clear:both;
}
main abbr {
border-bottom:1px dashed;
cursor:help;
}
main code {
font-family: 'Courier New', monospace;
font-size: 14px;
line-height: 1.2;
}

main aside.acg-shortcode-aside {
border: 1px solid #ccc;
background-color: #eee;
padding-left: 1em;
padding-right: 1em;
}

main aside.acg-shortcode-aside-left {
float: left;
margin-right: 2em;
width: 46%;
}

main aside.acg-shortcode-aside-right {
float: right;
margin-left: 1em;
width: 46%;
}

main aside.acg-shortcode-aside-full {
margin-left: 0;
margin-right: 0;
max-width: none;
width: 96%;
}

main p aside {
font-size: inherit;  /* Avoid oversized aside text in IE 8 */
}

main p#search-all-sites {
margin-bottom: 0;
}

main div.repeat-search-global {
border: 3px solid #ccc;
padding: 1em;
margin-bottom: 1em;
}

.search_autocomplete {
	background-color: #fff;
	font-size: 16px;
}
.search_autocomplete li {
	padding: 3px 5px 3px 5px;
}
.search_autocomplete li:hover {
	cursor: pointer;
	background: #2e8be8;
	color: #fff;
}

main div.pagination {
font-size: 1.3em;
}

/* Tables */
table {
	border-top: 1px solid #7ac4fc;
	border-bottom: 1px solid #7ac4fc;
	width:100%;
}
table caption {
	font-size: 1.3em;
	line-height: 1.3em;
}
td {
	line-height: 1.6em;
	margin: 5px;
	padding: 0 1em;
	font-size: 1.3em;
}
td p {
	line-height: 1.6em;
	font-size: 1em;
}
td li {
	font-size:1em;
}
tr:nth-child(odd) {
	background-color: #ebebeb;
}
tr:first-child {
	background-color: #2e8be8;
	color: #fff;
}
tr:first-child td {
	font-size: 1.4em;
	font-weight: 700;
}
table.gv-table-view th {
	text-align: left;
}
table.dataTable th span {
  white-space: nowrap;
}
.collapsible-list-content table {
	
}
.collapsible-list-content table td {
	font-size:1em;
}
.collapsible-list-content ol {
	padding-left:14px;
}
.collapsible-list-content ol li {
	list-style-type: decimal;
}

/* Comment Forms */
#respond .form-submit input.submit {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
	background-color: #e38410;
  color: #fff;
  padding: 1em 0.5em;
  text-align: center;
	border: none;
}
#respond .comment-form-comment #comment {
	width: calc(100% - 6px);
	margin: 0px;
}

/* Semantic Tables */
table.semantic td,
table.events-table td,
table.gsurvey-likert td,
table.gv-table-view td,
table.gv-table-view-content td,
div.xdsoft_calendar table td{
	line-height: 1.6em;
	margin: 5px;
	padding: 0 1em;
	font-size: 1.3em;
}
table.semantic thead tr, table.semantic tfoot tr,
table.events-table thead tr, table.semantic tfoot tr,
table.gsurvey-likert thead tr, table.gsurvey-likert tfoot tr,
table.gv-table-view thead tr, table.gv-table-view tfoot tr,
table.gv-table-view-content thead tr, table.gv-table-view-content tfoot tr,
div.gform_confirmation_message thead tr, div.gform_confirmation_message tfoot tr,
div.xdsoft_calendar table thead tr, div.xdsoft_calendar table tfoot tr{
	line-height: 1.6em;
	font-size: 1.4em;
	font-weight: 700;
	text-align: left;
}
table.semantic thead tr a, table.semantic tfoot tr a,
table.events-table thead tr a, table.events-table tfoot tr a,
table.gsurvey-likert thead tr a, table.gsurvey-likert tfoot tr a,
table.gv-table-view thead tr a, table.gv-table-view tfoot tr a,
table.gv-table-view-content thead tr a, table.gv-table-view-content tfoot tr a,
div.gform_confirmation_message thead tr a, div.gform_confirmation_message tfoot tr a,
div.xdsoft_calendar table thead tr a, div.xdsoft_calendar table tfoot tr a{
	color: #fff;
	text-decoration: underline;
}
table.semantic thead tr th, table.semantic tfoot tr th,
table.events-table thead tr th, table.semantic tfoot tr th,
table.gsurvey-likert thead tr th, table.gsurvey-likert tfoot tr th,
table.gv-table-view thead tr th, table.gv-table-view tfoot tr th,
table.gv-table-view-content thead tr th, table.gv-table-view-content tfoot tr th,
div.gform_confirmation_message thead tr th, div.gform_confirmation_message tfoot tr th,
div.xdsoft_calendar table thead tr th, div.xdsoft_calendar table tfoot tr th{
	padding: 0 1em;
}
table.semantic tbody tr:first-child td,
table.events-table tbody tr:first-child td,
table.gsurvey-likert tbody tr:first-child td,
table.gv-table-view tbody tr:first-child td,
table.gv-table-view-content tbody tr:first-child td,
div.gform_confirmation_message tbody tr:first-child td,
div.xdsoft_calendar table tbody tr:first-child td{
	font-weight: 400;
}
table.semantic tbody tr:nth-child(odd),
table.events-table tbody tr:nth-child(odd),
table.gsurvey-likert tbody tr:nth-child(odd),
table.gv-table-view tbody tr:nth-child(odd),
table.gv-table-view-content tbody tr:nth-child(odd),
div.gform_confirmation_message tbody tr:nth-child(odd),
div.xdsoft_calendar table tbody tr:nth-child(odd),
div.wpfc-calendar-wrapper table tbody tr:nth-child(odd){
	background-color: #fff;
	color: #000;
}
table.semantic tbody tr:nth-child(even),
table.events-table tbody tr:nth-child(even),
table.gsurvey-likert tbody tr:nth-child(even),
table.gv-table-view tbody tr:nth-child(even),
table.gv-table-view-content tbody tr:nth-child(even),
div.gform_confirmation_message tbody tr:nth-child(even),
div.xdsoft_calendar table tbody tr:nth-child(even),
div.wpfc-calendar-wrapper table tbody tr:nth-child(even){
	background-color: #ebebeb;
}

/* DataTables */
main .dataTables_wrapper .dataTables_filter {
	float: left;
	font-size: 1.3em;
}

main .dataTables_wrapper .dataTables_length,
main .dataTables_wrapper .dataTables_filter,
main .dataTables_wrapper .dataTables_info,
main .dataTables_wrapper .dataTables_processing,
main .dataTables_wrapper .dataTables_paginate {
	color: #000000;
	font-size: 1.3em;
}

main table.dataTable thead tr th,
main table.dataTable tfoot tr th {
	padding-left: 0px;
}

main table.dataTable tbody th,
main table.dataTable tbody td {
	padding: 2px;
}

main table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before,
main table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
background-color: #e38410;
border: none;
border-radius: 0;
box-shadow: none;
font-family: inherit;
font-weight: 700;
}

main table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
background-color: #da432b;
}

/* Images */
main img {
	height: auto;
	padding: 3px;
	border: 1px solid #e6e6e6;
	background: #F8F8F8;
	background: rgba(255, 255, 255, 0.7);
	max-width: 98%;
}
main img.noborder {
border: none;
}
main #map-view img,
main .angular-google-map img {
background: none;
}
main .gm-style-iw .content h4 {
	margin-bottom: 0;
}
main .gm-style-iw .content h4 + p {
	margin-bottom: 0;
}
.alignleft {
float: left;
margin: 5px 15px 15px 0;
}
.alignright {
float: right;
margin: 5px 0 15px 15px;
}
.aligncenter {
text-align: center;
margin-bottom: 15px;
}
img.aligncenter {
margin-left: auto;
margin-right: auto;
display: block;
}
.wp-caption {
max-width: 100%;
width: 100%;
padding: 1px;
text-align: center;
background: #F8F8F8;
border: solid 1px #e6e6e6;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
box-shadow: inset 0 0 1px 1px #fff;
-moz-box-shadow: inset 0 0 1px 1px #fff;
-webkit-box-shadow: inset 0 0 1px 1px #fff;
}
.wp-caption img {
margin: 0!important;
padding: 4px 0;
background: none;
border: 0;
}
.wp-caption-text {
margin: 0 0 0.3em;
padding: 0;
text-align: center;
}
.wp-caption-text.gallery-caption{
font-size: 1em;
}
.wp-caption a {
margin: 0!important;
}
.wp-caption.aligncenter {
margin: 0 auto 15px;
}


/* Slider */

.slider {
position:relative;
overflow: hidden;
height:100%;
background-color:#fff;
}
.slider img {
max-width:100%;
height:auto;
padding:0;
background:none;
border:0 none;
}
.slider .video-slide {
padding: 0 44px 44px;
box-sizing: border-box;
}
.slider .video-slide .blurb {
	left: 0;
	box-sizing: border-box;
}

.slider .blurb {
	position:absolute;
	bottom:0;
	background-color:#000;
	background-color:rgba(0, 0, 0, 0.6);
	padding:8px 0;
	width:100%;
}
.slider .blurb.slider-has-headline h5 {
	font-size: 2.2em;
	margin-bottom: 0px;
	padding: 0 12px;
}
.slider .blurb.slider-has-headline h5 * {
	font-family: 'Open Sans', Arial, sans-serif;
	color: #fff;
}
.slider .blurb p {
	font-size:1.4em;
	line-height:1.11;
	margin-bottom:0;
	padding:0 12px;
	color:#fff;
}
.slider .blurb.slider-headline-enabled p {
	font-size: 1.5em;
}
.slider .blurb a {
	color: #E38410;
	font-weight: 700;
}
.slider .responsive-embed {
padding-bottom:46%;
}
.slider .slidesjs-pagination {
float: right;
padding-right: 10px;
padding-top:10px;
position: relative;
z-index: 10;
}
.slider .slidesjs-pagination li {
float:left;
margin-left:6px;
list-style-type:none;
}
.slider .slidesjs-pagination a {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
display:block;
width:10px;
height:10px;
background-color:#eaeaea;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
}
.slider .slidesjs-navigation {
position: absolute;
top: 32%;
left: 0;
z-index: 10;
font-size: 3em;
font-weight: 700;
border: 2px solid #FFF;
color: #FFF;
background-color: #2E8BE8;
text-align: center;
padding: 0.2em 0;
width: 40px;
}
.slider .slidesjs-navigation:hover,
.slider .slidesjs-navigation:active {
background-color:#ED7800;
color:#fff;
}
.slider .slidesjs-next {
left:auto;
right:0;
}
.widget .slider .slidesjs-next {
right:17px;
}
.slider .slidesjs-play,
.slider .slidesjs-stop {
font-size: 1.2em;
float: right;
position: relative;
right: 0;
top: 4px;
}
.slider .slidesjs-pagination .active {
background-color:#e38410;
}

.responsive-embed {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
margin-bottom:30px;
}
.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
}

.one-half .responsive-embed iframe,
.one-half .responsive-embed object,
.one-half .responsive-embed embed {
width:90%;
}

/* Buttons */
.acg-button {
background-color:#e38410;
color:#fff;
padding:1em 0.5em;
text-align:center;
}
.acg-button:hover,
.acg-button:focus {
background-color:#ee9425;
color:#fff;
}
.acg-button.background-darkblue {
background-color:#005cb8;
}
.acg-button.background-darkblue:hover,
.acg-button.background-darkblue:focus {
background-color:#0682ff;
}
.acg-button.background-blue {
background-color:#2e8be8;
}
.acg-button.background-blue:hover,
.acg-button.background-blue:focus {
background-color:#73b1f0;
}
.acg-button.background-green {
background-color:#5ab155;
}
.acg-button.background-green:hover,
.acg-button.background-green:focus {
background-color:#8dc989;
}
.acg-button.background-black {
background-color:#000;
}
.acg-button.background-black:hover,
.acg-button.background-black:focus {
background-color:#262626;
}
.acg-button.background-gray {
background-color:#666;
}
.acg-button.background-gray:hover,
.acg-button.background-gray:focus {
background-color:#8c8c8c;
}
.acg-shortcode-button {
display:inline-block;
/* For IE */
zoom:1;
*display:inline;
}
.acg-shortcode-button-left {
float:left;
margin-right:1em;
}
.acg-shortcode-button-right {
float:right;
margin-left:1em;
}
.acg-shortcode-button-full {
margin-left:0;
margin-right:0;
max-width:none;
width:96%;
}

/* Gizmos */
.gizmo,
.widget {
margin-bottom:35px;
}
.gizmos-container,
.footer-widgets {
padding:15px 5px 5px;
overflow:auto;
height:100%;
}
.footer-widgets {
border-top:5px solid #2E8BE8;
}
.landing-page-3 .gizmos-container {
clear:both;
}
.half-width-gizmos .gizmo {
float:left;
margin-right:4%;
width:46%;
}
.half-width-gizmos .odd {
margin-right:0;
}
.half-width-gizmos .even,
.third-width-gizmos .third,
.third-width-gizmos .position-0,
.third-width-gizmos .position-3,
.third-width-gizmos .position-6,
.third-width-gizmos .position-9,
.third-width-gizmos .position-12 {
clear:left;
}

.third-width-gizmos .gizmo,
.footer-widgets section {
float:left;
margin-left:1.6666%;
width:30%;
}
.footer-widgets-1 section {
margin-left:1.6666%;
}
.third-width-gizmos .third {
margin-left:0;
}

.gizmo h2,
.widget .widget-title {
border-bottom:1px solid #ddd;
padding-bottom:3px;
margin-bottom:7px;
font-weight:700;
}
.gizmo h3 {
padding-bottom:6px;
}
.gizmo p,
.widget p {
font-size: 1.3em;
line-height: 1.3;
margin-bottom:0.5em;
}
.landing-page-3 .gizmo ul { padding: 10px 0 10px 20px; }
.landing-page-3 .gizmo ul li { 
	list-style: initial; 
	/* font-size:1.3em; */
	padding-bottom: 0px; }
.landing-page-3 .gizmo ul li + li { padding-top: 10px; }

.page-id-7235 .blurb ul {
	font-size: 1.3em;
	line-height: 1.3;
	list-style: disc;
	padding-left: 1em;
}

.rss-feed-gizmo ul {
list-style-type:disc;
padding-left:30px;
}
.rss-feed-gizmo li,
.text-field-gizmo li,
.widget li {
font-size: 1.3em;
padding-bottom: 0.5em;
line-height: 1.3em;
}
aside > li.widget {
	list-style-type: none;
}
.inat-widget {
	
}
.inat-widget table {
	border-top:0px;
	border-bottom:0px;
}
.inat-widget table tr {
	
}
.inat-widget table tr:first-child,
.inat-footer tr:first-child {
	color: #000;
}
.inat-footer tr:first-child {
	background-color: transparent !important;
}
.inat-widget table tr:first-child {
	background: #ebebeb;
}
.inat-footer tr:first-child strong {
	font-weight: normal;
}
.inat-widget table tr:nth-child(odd) .inat-observation-body{
	font-weight: normal;
}
.inat-widget table tr td {
	padding-top: 6px;
	padding-bottom: 6px;
	vertical-align: middle;
}
.rss-feed-gizmo li li,
.text-field-gizmo li li,
.widget li li {
font-size:1em;
}
.text-field-gizmo ul,
.text-field-gizmo ol,
.widget ul,
.widget ol {
list-style-type:disc;
padding-left:30px;
}
.text-field-gizmo ol,
.widget ol {
list-style-type:decimal;
}
.text-field-gizmo li,
.widget li {
line-height:1.3em;
}
.full-width-gizmos .text-with-photo-gizmo {
overflow:auto;
height:100%;
}
.text-with-photo-gizmo img {
max-width:100%;
}
.full-width-gizmos .text-with-photo-gizmo img {
max-width:300px;
margin-right:3em;
}
.full-width-gizmos .text-with-photo-gizmo .blurb {
overflow:auto;
height:100%;
}
.text-with-photo-gizmo .more a {
font-weight:700;
}
.call-to-action-gizmo .acg-button {
display:inline-block;
font-size:1.5em;
}
.text-with-video-embed-gizmo {
	clear:both;
}
.text-with-video-embed-gizmo > .alignleft {
	max-width: 300px;
	width: 100%;
}

/* ACG Event Widget */
.widget_acg_event_widget ul {
padding-left:10px;
padding-top:12px;
}
.widget_acg_event_widget li {
list-style:none;
overflow:auto;
height:100%;
padding-bottom:20px;
}
.widget_acg_event_widget span {
display:block;
}
.widget_acg_event_widget .calendar {
float:left;
width:50px;
margin-right:10px;
color:#fff;
background-color:#1d84ec;
padding-bottom:3px;
font-family:'Open Sans', arial, sans-serif;
}
.widget_acg_event_widget .calendar span {
text-align:center;
}
.widget_acg_event_widget .calendar .month {
background-color:#0252be;
text-transform:uppercase;
padding-top:5px;
font-weight:bold;
letter-spacing:0.1em;
}
.widget_acg_event_widget .calendar .day {
font-size:125%;
font-weight:bold;
letter-spacing:0.1em;
}
.widget_acg_event_widget .deets {
float:left;
overflow:visible;
width:75%;
}

/* Genesis Featured Posts widget */
.featuredpost header.entry-header h2.entry-title {
font-size: 1.6em;
line-height: 1.25em;
}
.featuredpost article {
margin-bottom: 2em;
}

/* WPJobBoard widgets */
#wpjb_widget_alerts,
.wpjb-widget-smart-alert {
font-size: 1.3em;
}
.wpjb-widget-smart-alert ul {
list-style-type: none;
padding-left: 0;
}

/* Display Posts shortcode  */
div.display-posts-listing div.listing-item {
margin-bottom: 1.5em;
}
div.display-posts-listing div.listing-item h6 {
margin-top: 0.1em;
margin-bottom: 0.1em;
line-height: 1;
}
div.display-posts-listing div.listing-item span.date,
div.display-posts-listing div.listing-item span.type {
font-size: 1.15em;
line-height: 1.0;
margin-bottom: 0.5em;
color: #666;
}
div.display-posts-listing div.listing-item span.excerpt {
font-size: 1.3em;
line-height: 1.3;
margin-bottom: 0.5em;
}
div.display-posts-listing div.listing-item p span.excerpt {
font-size: 1em;
line-height: 1.3;
margin-bottom: 1em;
}

/* Locations */
.single-location .slider {
float:left;
margin-right:3%;
width:55%;
}
.single-location .information {
float:left;
width:40%;
}
.single-location .information .address{
display:block;
}
.single-location .information .acg-button {
display:inline-block;
}
.single-location .amenities {
}
.single-location .amenities span {
background-color:#eee;
float:left;
font-size:1.6em;
padding:0.2em;
margin-right:0.4em;
border:0.1em solid #F9F9F9;
}

.single-location .description,
.single-location .sidebar {
clear:both;
}
.single-location .sidebar {
overflow:auto;
height:100%;
}
.single-location .sidebar .widget {
width:30%;
float:left;
}
.single-location .sidebar .widget_acg_event_widget {
width: 100%;
}

/* Events Calendar */
.entry-content .more-event-links {
float: right;
position: relative;
z-index: 10;
}
.more-event-links-wrap {
clear: left;
}
.full-width-content #em-wrapper {
clear:both;
}
.em-search-wrapper {
	clear: right;
}
.full-mobile-calendar {
/* Visually hidden but accessible by screenreaders by default */
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}
.em-calendar-wrapper .fullcalendar,
.wpfc-calendar-wrapper {
width:99%; /* Can't be 100% because of the borders */
}
table.fullcalendar thead td {
background-color:#FCFCFC;
vertical-align:middle;
text-transform:uppercase;
font-size:0.9em;
}
table.fullcalendar .month_name {
text-align:center;
border-left:0 none;
border-right: 0 none;
font-size:1.3em;
color:#015cb9;
}
table.fullcalendar thead .prev_month {
border-right: 0 none;
padding-left:1em;
}
table.fullcalendar thead .next_month {
border-left: 0 none;
text-align:right;
padding-right:1em;
}
.fc-header-title h2 {
color: #ffffff;
}
table.fullcalendar .em-calnav {
display:block;
color:#FD7E29;
}
table.fullcalendar td {
width:14.28571428571429%;
}
#em-wrapper td.ui-state-highlight {
background:#fff;
border-color:#ddd;
}
table.fullcalendar tr:nth-child(even),
table.fullcalendar tr:nth-child(odd),
table.fc-agenda-slots tr:nth-child(even),
table.fc-agenda-slots tr:nth-child(odd) {
background-color:transparent;
}
table.fullcalendar .days-names td {
border:0 none;
text-align:center;
vertical-align:middle;
font-weight:700;
font-size:1.2em;
}
table.fullcalendar .days-names abbr {
border-bottom:0 none;
}
table.fullcalendar li {
font-size:1em;
padding-bottom:0.8em;
color:#FD7E29;
}
.fc-event-time,
.fc-event-title {
font-size:1.3em;
color:#fff;
}
table.fullcalendar li em {
font-size:0.8em;
color:#888;
font-style:normal;
display:block;
}

/* Events Table */
.entry-title .view-full-calendar {
font-size:50%;
float:right;
padding-top:1em;
}
table.events-table {
border-top:0 none;
border-bottom:3px double #ccc;
}
table.events-table thead th {
background-color:#FCFCFC;
vertical-align:middle;
text-transform:uppercase;
font-size:1.1em;
text-align:left;
color:#FD7E29;
padding:1.8em 0.75em;
border-top:1px solid #888;
border-bottom:1px solid #888;
}
table.events-table thead .event-time {
border-left:1px solid #888;
}
table.events-table thead .event-description {
border-right:1px solid #888;
}
table.events-table tr:nth-child(even) {
background-color:#fff;
}
table.events-table td {
padding:1.5em 0;
border-bottom:1px solid #ccc;
}
table.events-table h3 {
font-size:1.1em;
margin-bottom:0;
}
table.events-table time {
display:block;
}
table.events-table .location {
display:block;
padding-bottom:1.25em;
}
table.events-table p,
table.events-table li {
font-size:1em;
}
span.em-pagination {
font-size: 1.3em;
}
/* Events Form */
#event-form tr:nth-child(even) {
background-color:#fff;
}
#event-form .em-location-map-404 p {
display:none;
}
#event-form .em-location-map-container {
height:auto;
}
#event-form .em-location-map-content {
width: 400px;
height: 300px;
}
.event-form-submitter {
overflow:auto;
height:100%;
}
.event-form-submitter label,
.event-form-submitter input {
display:block;
}
.event-form-submitter label {

}
.event-form-submitter input {
margin-bottom:0.5em;
width:40%;
}
table.mceToolbar tr:first-child {
background-color: inherit;
color: inherit;
}
input#start-time, input#end-time {
width: 6em;
}
div.time-picker-12hours {
width: 8em;
}
table.em-location-data th,
div.event-form-details div.event-editor,
div.event-form-image label {
font-size: 1.3em;
}
#em-location-data table.em-location-data {
width: 100%
}

/* Projects and Planning */
.single-projects aside.sidebar {
padding-top:15px;
}

/* News Release */
main article.type-news_release header h1 {
	color: #015cb9;
	font-size: 2.4em;
	line-height: 1;
	margin-bottom: .2em;
}
main article.type-news_release div.post-subheadline {
	color: #666;
	font-size: 1.6em;
	line-height: 1.3;
	margin-bottom: .45em;
	padding-top: .15em;
	font-weight: 600;
}
main article.type-news_release img.attachment-post-thumbnail {
	margin-bottom: 1.5em;
}
main article.type-new_release div.social-sharing {
	margin-top: 1em;
}
.news-release-boilerplate {
font-style:italic;
margin-top: 3em;
}

/* Gravity Forms Adjustments */
main .gform_wrapper {
max-width: 96%;
}

main .gform_description,
main .gpoll_button,
main .gpoll_summary,
.site-container .gform_wrapper .gform_footer a.gform_save_link {
font-size:1.3em;
}
.gform_footer {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
main .gpoll_summary {
line-height: 1.3;
}
main .gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
font-size: 1.6em;
opacity: 1;
}
main .gform_wrapper div.charleft {
	color: #000;
	font-size: .875em;
	padding-left: 8px;
	padding-top: 4px;
}
main .gform_wrapper textarea,
.site-container .gform_wrapper textarea {
	padding-top: 20px;
	font-size: inherit;
}
main .gform_wrapper .gfield_radio li label {
margin: 2px 0 2px 4px;
}
main .gform_wrapper .gfield_checkbox li,
main .gform_wrapper .gfield_radio li {
margin: 0 0 4px 0;
}
main .gform_wrapper .gfield_checkbox li label,
main .gform_wrapper .gfield_radio li label {
font-size: 1em;
}
main .gform_wrapper ul,
main .gform_wrapper ol {
margin-left:1.5em!important;
}
main .gform_wrapper li li {
text-indent:0; /* Nested LIs were tweaked to have different colored bullets. */
}
main table.gsurvey-likert th.gsurvey-likert-choice-label {
background-color: inherit;
}
main .gform_wrapper th,
main .gform_wrapper td {
font-size:1em;
}
main .gform_wrapper .form_saved_message {
font-size: 1.3em;
}
table.gfield_list tr:first-child {
background-color: inherit;
color: inherit;
}
table.gfield_list tr:nth-child(odd) {
background-color: inherit;
}
div.ui-datepicker th {
color: inherit;
font-size: inherit;
font-weight: 700;
padding: 5px 0;
text-align: center;
text-shadow: none;
text-transform: none;
}
main .gfield_list_icons img {
padding: 0;
border: none;
}
.site-container .gform_wrapper .description,
.site-container .gform_wrapper .gfield_description,
.site-container .gform_wrapper .gsection_description {
font-size: 1em;
}

.site-container .gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label,
.site-container .gform_wrapper .field_sublabel_above div.ginput_container[class*="gfield_time_"] label,
.site-container .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label,
.site-container .gform_wrapper .field_sublabel_below div.ginput_container[class*="gfield_time_"] label {
font-size:90%;
}

.site-container .gform_wrapper input[type=text],
.site-container .gform_wrapper input[type=url],
.site-container .gform_wrapper input[type=email],
.site-container .gform_wrapper input[type=tel],
.site-container .gform_wrapper input[type=number],
.site-container .gform_wrapper input[type=password],
.site-container .gform_wrapper textarea {font-size:13px;}
.site-container .gform_wrapper textarea {float:right !important;clear:both !important;margin-bottom:5px;font-size: inherit;}
.site-container .gform_confirmation_message,
.site-container .gform_confirmation_message p,
.site-container .gform_confirmation_message li{
font-size:12px;
}
.site-container .gform_wrapper .gform_footer input.button,
.site-container .gform_wrapper .gform_footer input[type=submit] {
font-size:1.5em;
}
.site-container .gform_wrapper .chzn-container-single .chzn-single,
.site-container .gform_wrapper .chzn-container-single .chzn-single div,
.site-container .gform_wrapper .chzn-container-multi .chzn-choices,
.site-container .gform_wrapper .chzn-container-multi .chzn-choices .search-choice,
.site-container .gform_wrapper .chzn-container-active .chzn-single-with-drop {
filter: none;
}

.site-container .gform_wrapper .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
height: 24px;
}

/* Gravity Forms Repeater */
body .gf_repeater_add .gf_repeater_add_default,
body .gf_repeater_remove .gf_repeater_remove_default {
	background-size: 2em;
	border: 0;
	height: 2em;
	width: 2em;
}

/* Gravity Forms Addons & Directory */
table.gf_directory td.textarea {
font-size:1em;
}

table.gf_directory td.textarea li {
font-size:1.3em;
}

div.tablenav div.tablenav-pages {
font-size:1.3em;
}

main ul.gf_directory,
main ul.gf_directory ul {
padding: 0;
}

main ul.gf_directory li {
padding: 0.5em 0 0 0;
list-style: none;
}

main ul.gf_directory li li {
text-indent: 0;
}

main ul.gf_directory li li:before {
content: none;
}

main ul.gf_directory li ul li {
padding: 0 0 0.3em 0;
}

main dl {
font-size: 1.3em;
line-height: 1.3;
margin-bottom: 1.2em;
}

main dl dt.entry-view-field-name {
font-weight: 700;
}

/* See h6 */
main ul.gf_directory li ul li[title="Organization Name"] {
font-size: 1.4em;
color: #E38410;
font-family: 'PT Sans',sans-serif;
font-weight: 700;
}

main ul.gf_directory li ul li[title="Contact Title"] {
font-style: italic;
}

main ul.gf_directory li ul li[title="Phone"]:after {
content: " Phone";
}
main ul.gf_directory li ul li[title="Fax"]:after {
content: " Fax";
}

/* GravityView */
table.gv-table-view-content {
table-layout: auto;
}
table.gv-table-view p {
font-size: 1em;
}
table.gv-table-view-content p {
font-size: 1em;
}
table.gv-table-view-content .gv-field-label {
font-size: 1.3em;
}
table.gv-table-view-content th {
vertical-align: middle;
width: inherit;
font-weight: 700;
}
table.gv-table-view tbody td {
vertical-align: middle;
}
span.gv-field-label {
padding-right: 0;
}
.gv-search-box {
font-size: 1.3em;
}
.gv-search-box p {
margin-bottom: 0.5em;
}
main .gv-widget-search {
margin: 0;
}
main .gv-list-view-footer {
font-size: 1.3em;
}
main .gv-list-view-content-description {
width: 100%;
}
.gv-list-view-content .gv-list-view-content-description p {
margin: 0;
}
.gv-reviews-area .gv-review-list-header .gv-review-list-title {
text-transform: none;
}
#TB_window {
font-size: 1.3em;
}
table.dataTable td,
table.dataTable td img {
vertical-align: middle;
}

main .gv-list-view-title {
padding: 0.5em;
}

main .gv-map-view-title h3 {
font-size: 1.6em;
margin: 0;
}

main .gv-map-view-middle {
font-size: 1.3em;
line-height: 1.3em;
padding: 0 0.5em 0 0.5em;
}

main .gv-map-view-footer {
background-color: #ffffff;
}

main .gv-list-view-title {
padding: 0.5em;
}

main .gv-infowindow-container.gv-infowindow-full .gv-infowindow-content,
main .gv-infowindow-container.gv-infowindow-no-image .gv-infowindow-content {
display: table-cell;
padding: 0.1em;
}

section.after-entry-content {
	margin-top: 3em;
}

/* ParkMe widget */
iframe.parkme {
border: 1px solid #ccc;
}

/* Plugin - upPrev */
#upprev_box .upprev_excerpt p {
	font-size: 1.3em;
	line-height: 1.25em;
}

/* [collapsing_list] shortcode */
.acg-shortcode-collapsing-list li.expandable > span:first-child {
cursor: pointer;
font-weight: bold;
}

.acg-shortcode-collapsing-list li.expandable > span:first-child:after {
content:'\25B2';
}

.acg-shortcode-collapsing-list li.expandable.collapsed > span:first-child:after {
content:'\25BC';
}

/* [captivate] shortcode */
.captivate-wrapper {
	height: 0;
	padding-top: 65.692204301075%;
	position: relative;
}

.captivate-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* [filterable_list] shortcode */
div.filterable-list label {
font-size: 1.3em;
}
div.filterable-list input {
margin-left: 0.5em;
}

/* [wpp] shortcode */
section.widget.popular-posts ul.wpp-list {
	list-style: none;
	padding-left: 0;
}
section.widget.popular-posts ul.wpp-list li {
	font-size: 1em;
	margin-bottom: 1.5em;
}
section.widget.popular-posts ul.wpp-list h6 {
	font-size: 1.4em;
	margin-bottom: 0;
}
section.widget.popular-posts ul.wpp-list span.post-stats, section.widget.popular-posts ul.wpp-list span.post-meta, section.widget.popular-posts ul.wpp-list span.post-date {
	font-size: 1.15em;
	line-height: 1.0;
	margin-bottom: 0.5em;
	color: #666;
}

/* Footer */
footer.site-footer {
background-color:#2e8be8;
color:#fff;
}
footer .holder {
	overflow: hidden;
	position:relative;
	padding:1.5em 0 2em;
}
footer .logo {
position: absolute;
z-index: 1;
left: 15px;
}
footer .other-links {
display: block;
margin:0 auto 25px;
padding-bottom:3px;
overflow:auto;
width: 500px;
}
footer .other-links li {
float:left;
text-align:center;
font-size:1.4em;
width:20%;
}
footer .other-links a {
display:block;
border-left:1px solid #fff;
color:#fff;
padding:2px 10px;
min-height:2em;
}
footer .other-links a:hover,
footer .other-links a:focus {
text-decoration: underline;
}
footer .other-links .first a {
border-left:0 none;
}
/* Old footer social icons (sprites) */
footer .social-media {
position: absolute;
right: 15px;
}
footer .social-media li {
float:left;
margin-left:8px;
padding-bottom:15px;
}
footer .social-media a {
background-image:url(//d1rn8z435cu2eh.cloudfront.net/img/social-media-icons.png);
background-repeat:no-repeat;
display:block;
width:32px;
height:32px;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}
.social-media .facebook a { background-position: -5px -5px;  }
.social-media .flickr a { background-position: -5px -47px;  }
.social-media .rss a { background-position: -5px -89px;  }
.social-media .twitter a { background-position: -5px -131px;  }
.social-media .youtube a { background-position: -5px -173px;  }

/* New footer social icons (icon font) */
footer .social-media-icons {
position: absolute;
right: 15px;
}
footer .social-media-icons li {
float:left;
margin-left:8px;
padding-bottom:15px;
}
footer .social-media-icons a {
width:32px;
height:32px;
overflow: hidden;
font-size: 3em;
color: #ffffff;
}

footer small {
clear:both;
display:block;
text-align:center;
}

/* WPJobBoard */
.wpjb .wpjb-grid,
.wpjb .wpjb-form{
font-size: 1.3em;
}
.gm-fullscreen-control img:last-child,
.gm-fullscreen-control img:nth-child(2),
.gm-bundled-control button img:last-child,
.gm-bundled-control button img:nth-child(2) {
	display: none;
}

.gm-fullscreen-control:hover img:nth-child(2),
.gm-bundled-control button:hover img:nth-child(2) {
	display: inline-block;
}

/* Day Care Centers */
#view-selector {
	width:100%;
	font-size:16px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px #f1f1f1 solid;
}
#view-selector a.selected {
	font-weight:800;
}
#map-view {
	width:100%;
	font-size:14px;
}
.day-care-map {
	width:100%;
	height:540px;
}
#list-view.list-view {
	width:100%;
	font-size:15px;
	display:none;
}
#list-view-inner {
	height: 540px;
	overflow: auto;
}
.parent-licensed-child-care-directory-child-care-centers #list-view-inner {
	height: 1070px;
	overflow: hidden;
}
#list-view h2 {
	font-size:20px;
	margin-bottom:3px;
}
#list-view .list-entry {
	margin-bottom:14px;
	display: none;
	line-height: 1.4;
}
#list-view.active .list-entry {
	display: block;
}
#list-view .list-entry.active {
	display: block;
}
#list-view #map-list-pagination {
	padding-top: 15px;
	position: relative;
	text-align: center;
	clear: both;
}
#list-view #map-list-pagination ul {
	margin: 0 auto;
}
#list-view #map-list-pagination li {
	display: inline-block;
	float: none;
}
#list-view #map-list-pagination li span,
#list-view #map-list-pagination li a {
	min-width: 12px;
}
#list-view h2 span.miles, #view-selector .results-count {
	font-size:16px;
	color:#000000;
}

.map-panel-wrapper {
	display: flex;
	flex-flow: row wrap;
}
.map-panel-wrapper .left-map-panel {
	width: 25%;
}
.map-panel-wrapper .left-map-panel .inner-panel {
	padding-right: 10px;
}
.map-panel-wrapper .left-map-panel .inner-panel h4 {
	padding: 5px;
	background: #ccc;
	position: relative;
	cursor: pointer;
}
.map-panel-wrapper .left-map-panel .inner-panel h4 span {
}
.map-panel-wrapper .left-map-panel .inner-panel h4:after {
	content: '-';
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}
.map-panel-wrapper .left-map-panel .inner-panel .ccc-filter .filters-wrap{
	transition: display 0.5s ease-in, opacity 0.1s ease-in;
}
.map-panel-wrapper .left-map-panel .inner-panel .ccc-filter.noShow  .filters-wrap{
	display: none;
	opacity: 0;
}
.map-panel-wrapper .left-map-panel .inner-panel .ccc-filter.noShow h4:after {
	content: '+';
}
.map-panel-wrapper .left-map-panel .ccc-search {
	display: block;
}
.map-panel-wrapper .left-map-panel .ccc-search fieldset.filter {
	width: 100%;
	display: block;
	float: none;
	margin: 0;
	clear: both;
}
.map-panel-wrapper .left-map-panel .ccc-search fieldset.filter .inner {width: 100%;}
.map-panel-wrapper .right-map-panel {
	width: 75%;
}
.map-panel-wrapper .left-map-panel .ccc-filter {
	
}
.map-panel-wrapper .left-map-panel .ccc-filter .form-group + .form-group {
	padding-top: 15px;
}
.map-panel-wrapper .left-map-panel .filters div + div {
	padding-left: 4px;
}


#view-selector .results-count {
	float:right;
}
.content-sidebar-wrap #cludo-search-results ul.search_page_list li,
.cludo-page-navigation li {
	text-align: center;
	font-size: 1.3em;
}
.content-sidebar-wrap #cludo-search-results ul.search_page_list li.active {
	font-size: 16.9px;
	text-decoration: underline;
	color: #015cb9;
	font-weight: bold;
}
.content-sidebar-wrap #cludo-search-results ul.search_page_list li:hover {
	text-decoration: underline;
}
.content-sidebar-wrap #cludo-search-results ul.search_page_list li:hover a {
	color: #015cb9;
	font-weight: bold;
}
.content-sidebar-wrap #cludo-search-results ul.search_page_list li {
	color: #666;
	text-align: center;
	font-size: 16px;
	/* line-height: 1.6; */
	/* 	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #bbb;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	display: block;
	    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #efefef;
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); */
	padding: 0;
	margin: 0;
	text-align: center;
}
.search-result-count {
	font-size: 16px;	
}
.content-sidebar-wrap #cludo-search-results ul .search-results-item>p {
	font-size: 14px;
	margin-bottom: 0;
	padding-top: 5px;
}
.content-sidebar-wrap #cludo-search-results ul .search-results-item>p + span {
	padding-top: 10px;
}
#cludo-search-results ul .search-results-item>span {
	font-size: 14px;
	display: block;
}
.content-sidebar-wrap #cludo-search-results ul.search_page_list li a {
	color: #666;
	/* font-size: 1.3em; */
	padding: 0 0 2px 0;
}
.cludo-page-navigation li a {
	text-align: center;
}
.cludo-banner {
	background-color: #e6e6e6;
	padding: 10px;
	margin: 15px 0 0 0;
}
.cludo-banner p {
	padding: 5px;
	display: flex;
	align-items: baseline;
}
.cludo-banner p a {
	display: block;
}
.cludo-banner p a + a {
	color: #5c5c5c;
	padding-left: 5px;
}
.powered-by-cludo {
	display:none !important;
}
.map-container-wrap {
	position: relative;
}
.map-container-wrap button {
	position: absolute;
	top: 0 !important;
	right: 5px !important;
	z-index: 1000;
	background: #2e8be8;
	color: #fff;
	outline: none;
	border: none;
	padding: 7px 15px;
	cursor: pointer;
	border: 1px solid transparent;
}
.map-container-wrap button:hover {
	background: #fff;
	color: #2e8be8;
	border-color: #2e8be8;
}
.map-container-wrap button:focus {
	outline: 5px auto -webkit-focus-ring-color;
}
.ccc-filter-sort {
	font-size:12px;
	margin-bottom:;
}
.ccc-search {
	padding-bottom: 10px;
	width: 100%;
	position: relative;
	display: flex;
}
.ccc-search fieldset.filter {
	float: left;
	margin-right: 2%;
	width: 50%;
	padding: 5px 0;
	font-size: 16px;
}
.ccc-search fieldset.filter + fieldset {
	margin-right: 0;
}
.ccc-search fieldset.filter .inner {
	display: flex;
}
.ccc-search fieldset.filter input.field::-webkit-input-placeholder {
	color: rgba(0,0,0,.65);
	font-size: 18px;
}
.ccc-search fieldset.filter input.field {
	padding: 0 0.6em;
	font-size: 18px;
	height: 30px;
	font-weight: normal;
	display: inline-block;
}
.ccc-search fieldset.filter .submit {
	background-color: #E87C1A;
	border: 0 none;
	color: #fff;
	width: auto;
	margin-left: 5px;
	height: 34px;
	font-size: 16px;
	width: 50px;
	display: block;
}
.ccc-search fieldset.filter .apply-filters {
	background-color: #00AD41;
	border: 0 none;
	color: #fff;
	width: 100%;
	height: 34px;
	font-size: 16px;
	display: block;
}
.ccc-search fieldset.filter .submit[disabled="disabled"] {
	opacity: 0.5;
}
.ccc-search input {
	width:100%;
	position: relative;
}
.ccc-search button {
	background: #2e8be8;
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
	border: 1px solid transparent;
}
.ccc-search button[disabled="disabled"]{
	opacity: 0.4;
}
.ccc-search button[disabled="disabled"]:hover {
	background: #2e8be8;
	color: #fff;
	cursor: default;
}
.ccc-search button:hover {
	background: #fff;
	color: #2e8be8;
	border-color: #2e8be8;
}
.ccc-search button:focus {
	outline: 4px auto -webkit-focus-ring-color;
}
.ccc-sort {
	text-align:right;
	display: flex;
	justify-content: flex-start;
	padding-bottom: 10px;
	align-items: flex-start;
}
.ccc-sort .sort-dropdown {
	width: 25%;
}
.ccc-sort .sort-dropdown h5 {
	text-align: left;
	font-size: 14px;
	font-weight: 800;
}
.ccc-sort .sort-dropdown h5 i {
	visibility: hidden;
}
.ccc-sort .sort-dropdown .inner {
	display: flex;
}
.ccc-sort .sort-dropdown i {
	padding-right: 5px;
	position: relative;
	top: 4px;
}
.ccc-sort .sort-dropdown select {
	font-size: 10px;
	width: 100%;
}
.ccc-sort .sort-dropdown + .sort-dropdown {
	padding-left: 5px;
}
.ccc-filter {
	width:100%;
	text-align:left;
	margin-bottom:10px;
}
.ccc-filter input[type="checkbox"]:hover{
	cursor: pointer;
}
div.ccc-filter-wrap {
	width:29%;
	float:left;
}
div.ccc-filter-wrap:first-child {
	width:13%;
}
.ccc-filter label {
	margin-right:7px;
}
.ccc-clear{ 
	width:100%;
	clear:both;
}

#wpadminbar {
	display: block !important;
}

.mobile-hide {
	display:inline;
}
.empty-permit-list {
	display: none;
	padding-top: 10px;
}
.empty-permit-list h5 {
	font-size: 20px;
  	line-height: 1.25;
}
#permit-list {
	padding-top: 10px;
	padding-left: 0;
}
#permit-list li.subheader {
	list-style: none;
}
#permit-list li.subheader h6 {
	color: #000;
	padding-top: 5px;
}
#permit-list li.subheader + .subheader {
	padding-top: 10px;
}
#permit-list li h5 {
	margin-bottom: 0;
	padding-bottom: 0;
}
#permit-list li h5 {
	font-size: 20px;
  line-height: 1.25;
}
#permit-list li.subheader ul {
}
#permit-list li.subheader ul li:before  {
	color: #000;
}

/* 900px / 16 */
@media (max-width: 56.25em){
	.widget_acg_event_widget .deets {
	width:70%;
	}
	footer .social-media,
	footer .social-media-icons {
	position:static;
	float:right;
	}
	footer .other-links {
	float:right;
	clear:right;
	}
}

/* 780px / 16 */
@media (max-width: 48.75em){
	.site-inner {
	padding-left:0;
	padding-right:0;
	}
	.content-full-width main,
	.content-sidebar main,
	.sidebar-content main,
	.content-sidebar aside,
	.sidebar-content aside {
	float:none;
	margin:0 auto;
	width:95%;
	max-width:none;
	}
	header #s {
	width:90%;
	}
	header .submit {
	right:10px;
	}
	nav,
	nav .search-menu {
	background-color:#ED7800;
	}
	nav .mobile {
	display:block;
	}
	nav .mobile.menu-items-1 li {
	width:100%;
	}
	nav .main-menu,
	nav .search {
	display:none;
	}
	nav .main-menu {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-bottom:0;
	}
	nav .main-menu ul {
	height:auto;
	position:static;
	}
	nav .main-menu .top-level,
	nav .main-menu li.home {
	width:100%;
	}
	nav li {
	display:block;
	}
	nav .mobile li {
	float:left;
	width:50%;
	}
	nav .main-menu li.active-parent {
	background-color:inherit;
	}
	nav .main-menu li.loaded-active {
	background-color:#ED7800;
	}

	nav .menu-items-3 li,
	nav .menu-items-4 li,
	nav .menu-items-5 li,
	nav .menu-items-6 li,
	nav .menu-items-7 li {
	width: 100%;
	}
	nav .main-menu li .sub-menu,
	nav .main-menu li:hover .sub-menu,
	nav .main-menu li.active .sub-menu,
	nav .main-menu li.loaded-active .sub-menu {
	display:block;
	visibility:visible;
	}
	nav .main-menu .sub-menu li {
	float:none;
	}
	nav .search {
	position:static;
	overflow:auto;
	float:right;
	margin:0.2em 0.8em 1em 0;
	}

	.widget_acg_event_widget .calendar {
	float:none;
	}

	.single-projects .sidebar .slider {
	max-width:318px;
	margin:0 auto;
	}
	#list-view-inner {
		height: auto;
		overflow: initial;
	}
	.map-panel-wrapper {
		display: block;
		padding: 0 10px;
	}
	.map-panel-wrapper .left-map-panel {
	width: 100%;
	}
	.map-panel-wrapper .left-map-panel .filters div + div {
		padding-top: 4px;
	}
	.map-panel-wrapper .right-map-panel {
		width: 100%;
	}
	.map-panel-wrapper .left-map-panel .ccc-search {
		max-width: 100%;
	}
	.ccc-search {
		width: 100%;
		max-width: 62%;
		padding-bottom: 10px;
		display: block;
	}
	.ccc-sort {
		float: none;
		width: 100%;
		justify-content: flex-start;
	}
	.ccc-sort .sort-dropdown {
		padding-right: 12px;
	}
	.ccc-sort .sort-dropdown:last-child {
		padding-right: 0;
	}
	.ccc-sort .sort-dropdown + .sort-dropdown {
		padding-left: 0;
	}
	.ccc-sort .sort-dropdown i {
		position: static;
		padding-right: 3px;
	}
	.ccc-sort .sort-dropdown select {
		font-size: 11px;
	}
	.day-care-map {
		height: 400px;
	}
	.ccc-search fieldset.filter input.field {
		width: 68%;
	}
	.ccc-search fieldset.filter{
		width: 100%;
		float: none;
		display: block;
		margin-bottom: 10px;
	}
}

/*650px / 16 */
@media (max-width: 40.625em) {
	#top-links {
	min-height: 36px;
	}
	#top-links .logo {
	position:static;
	margin:0 auto;
	}
	#top-links p {
	float: none;
	font-size: 1.3em;
	padding: 8px 0;
	text-align: center;
	}
	.tabbed-logo #top-links .logo {
	top: 33px;
	left:50%;
	margin-left:-118px;
	}
	.footer-widgets section,
	.third-width-gizmos .gizmo,
	.five-sixths,
	.four-sixths,
	.one-half,
	.one-third,
	.one-fourth,
	.one-fifth,
	.one-sixth,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
	float:none;
	width:100%;
	}
	.third-width-gizmos .gizmo {
		clear:both;
		/* margin-left: unset; */
	}
	.third-width-gizmos .third {
		margin-left: 1.6666%;
	}
	.third-width-gizmos .text-with-photo-gizmo img {
		float:none;
		margin-left:0;
		margin-right:0;
		width: 97%;
    height: auto;
	}
	table.fullcalendar .days-names span,
	table.fullcalendar .em-calnav span {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	}
	.entry-title .view-full-calendar {
	display:block;
	float:none;
	}
	.single-location .slider,
	.single-location .information {
	float:none;
	margin-right:0;
	width:100%;
	}
	footer .holder {
	height:auto;
	}
	footer .logo {
	position:static;
	display:block;
	margin:0 auto;
	}
	footer .social-media,
	footer .social-media-icons,
	footer .other-links {
	float:none;
	margin-left:auto;
	margin-right:auto;
	}
	footer .social-media,
	footer .social-media-icons {
	width:150px;
	overflow: auto;
	margin: 20px auto 15px;
	}
	footer .other-links {
	width:75%;
	}
	footer .other-links li {
	width:49%;
	}
	footer .other-links a {
	border:0 none;
	}
	.mobile-hide {
		display:none;
	}
}

/* 500px / 16 */
@media (max-width: 31.25em){
	#top-links p a:first-of-type,
	#top-links p b:first-of-type {
	display: none;
	}
	.cludo-banner p {
		display: block;
	}
	.tabbed-logo #top-links .holder-inner {
		float: none;
		justify-content: center;
	}
}

/*480px / 16 */
@media (max-width: 30em) {
	.site-title {
	font-size:3em;
	margin-bottom:0;
	}
	.half-width-gizmos .gizmo {
	width:100%;
	margin-right:0;
	}
	.full-width-gizmos .text-with-photo-gizmo .blurb {
	width:100%;
	}
	table.fullcalendar tbody {
	display:none;
	}
	.full-mobile-calendar {
	/* Display it */
	clip:rect(auto, auto, auto, auto);
	height: auto;
	margin: auto;
	overflow:auto;
	position: static;
	width:auto;
	}
	main .social-sharing a {
	min-width: 3em;
	}
	main .social-sharing .social-sharing-text {
	display: none;
	}
	.ccc-sort {
		display: block;
	}
	.ccc-sort .sort-dropdown {
		width: 100%;
		display: block;
	}
	.ccc-sort .sort-dropdown + .sort-dropdown {
		padding-top: 10px;
	}
}
@media (max-width: 375px) {
	#top-links a {
		font-size: 12px;
	}
	.tabbed-logo #top-links .logo {
		top: 34px;
	}
}
@media (max-width: 320px) {
	#top-links a {
		font-size: 11px;
	}
	.tabbed-logo #top-links .logo {
		top: 34px;
	}
}

@media screen {
	.no-browser, .browser-hidden {
		display: none;
	}
}

/* Print media style */
@media print {
	.major-alert, .site-header, #navigation, footer .other-links, .social-sharing, .social-media, .social-media-icons, .logo, .slidesjs-navigation, div.comment-reply, div#respond, .widget_rss, .gform_save_link {
	     display: none !important;
	     height: 0;
	}
	 .site-container {
	     padding: 10px;
	     margin: 0;
	}
	 .content-sidebar main, .sidebar-content main {
	     width: 100%;
	}
	 .content-sidebar aside, .sidebar-content aside {
	     max-width: inherit;
	     width: inherit;
	}
	 footer.site-footer {
	     background-color: #FFF;
	     color: #000;
	}
	.no-print, .print-hidden {
		display: none !important;
	}
}



